[2019-03-13 11:11] DeepDiver1975 opened #5 "Init repo"
= Initial Repository Tasks

== Repository Creation

* [x] Decide whether the repository should be public or private
* [x] Decide on LICENSE
* [x] Create repository on GitHub and select appropriate LICENSE to be created at start
* [x] Under `Options`, only allow merge commits (important for changelog generation)
** [ ] Allow `Merge commit`
** [ ] Disable `Squash merging`
** [ ] Disable `Rebase merg

[2019-04-05 13:30] DeepDiver1975 opened #13 "OAuth 2.0 Token Introspection"
https://tools.ietf.org/html/rfc7662

we need to implement   OAuth 2.0 Token Introspection in case the access token is not a JWT token

[2019-05-07 10:11] #13 closed, assigned to DeepDiver1975

[2019-05-14 08:27] patrickjahns opened #17 "Simple docker-compose example for testing"
TODO:
- [ ] evaluate if there is a ready to use docker container for `panva/node-oidc-provider`

[2019-05-22 09:50] felix-schwarz opened #20 "Spec violation: .well-known/openid-configuration must not be a redirect, return JSON directly"
#### Description

According to the [OpenID Connect Discovery 1.0](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfigurationResponse) spec, `.well-known/openid-configuration` must return a `200 OK`HTTP status response _and_ the JSON directly:

#### Current
The test server returns `301 Moved Permanently`, redirects to `http://10.0.5.69:8080/index.php/apps/openidconnect/config`

[2019-08-05 11:35] #20 closed, assigned to sharidas

[2019-08-26 08:25] felix-schwarz opened #22 "Configurable IP address in docker-compose test environment"
The current docker-compose test environment is limited to be used on `localhost` out of the box. It would be useful for QA and testing on mobile devices to have an easy way to set up a docker-based test server without having to manually change configuration files.

To make the OIDC and OC instances available on the IP `10.0.1.69`, I had to make the following changes to the configuration files:

[c

[2019-08-26 22:16] dependabot-preview opened #23 "Dependabot couldn't fetch the branch/reference for jumbojett/openid-connect-php"
Your dependency file specified a branch or reference for `jumbojett/openid-connect-php`, but Dependabot couldn't find it at the project's source. Has it been removed?

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-09-18 22:14] #23 closed, assigned to nobody

[2019-10-22 14:05] #5 closed, assigned to nobody

[2019-10-22 14:05] #17 closed, assigned to nobody

[2019-10-22 14:11] DeepDiver1975 opened #35 "Third-Party Cookies and Front-Channel-Logout"
This is basically to document relevant information for devs.

According to https://bitbucket.org/openid/connect/issues/1003/document-possible-impacts-of-disabling the front-channel-logout cannot work as soon as the browser disallows third-party-cookies.

No idea if we can detect this and work around .... at least this has to be double checked in cases where the logout is not working

[2020-02-12 16:46] mmattel commented on #35
Is this something to be mentioned in the (dev) docs?

[2020-02-13 08:38] DeepDiver1975 commented on #35
no - this issue as reminder is enough

[2020-02-20 10:51] HanaGemela opened #66 "Openidconnect 1.0.0"
### Product approval

- [x] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updated from transifex` ... - no commits in last two months but no user facing strings -> OK
- [x] Ping pmaier to check `info.xml` description and screenshot
- [x] Get approval

[2020-02-25 18:14] moddavid opened #67 "Import non-existing user from provider on login"
Knowing OpenID Connect integrations from other software products, I'm confused of the "User with $email is not known." message when a user tries to login through the provider, which does not exist in the owncloud instance so far.

Is this something that will change later?

[2020-02-25 18:36] michaelstingl commented on #67
@moddavid assumption with the current implementation is, users already exist, from sync with LDAP for example.

Automagically creating new users from OpenID Connect is not implemented yet, but could follow at a later stage. No ETA. (similar to ["Autoprovision Users" mode](https://doc.owncloud.com/server/10.4/admin_manual/enterprise/user_management/user_auth_shibboleth.html#choosing-the-app-mode) w

[2020-02-25 18:36] #67 closed

[2020-02-26 11:02] moddavid commented on #67
But why should one handle the login via OpenID Connect when LDAP is already in place and running?

[2020-02-26 11:11] DeepDiver1975 commented on #67
OpenID Connect providers offer admin much more control over the connected system and a central place to manage access to these connected systems.

Because OpenID Connect cannot provide any information about user and group relationships this LDAP integration is required.

If you want to run ownCloud with OpenID Connect but no LDAP please make sure that you manually create the users in owncloud. Nev

[2020-04-17 12:16] DeepDiver1975 opened #70 "Please release the app with signature"
see https://github.com/owncloud/enterprise/issues/3933#issuecomment-615208648

[2020-04-17 12:25] michaelstingl commented on #70
Signed RC.tar would be sufficient?

[2020-04-17 13:29] DeepDiver1975 commented on #70
@micbar re-signed 0.2.0 - THX -> closing

[2020-04-17 13:29] #70 closed

[2020-04-17 13:30] DeepDiver1975 opened #71 "git folder is in the bundled release"
in jumbojett/openid-connect-php/

[2020-04-21 02:40] #71 closed

[2020-04-21 04:53] suhaylhallim opened #74 "How to install this onto my owncloud instance?"
I couldn't find information on how to install this app onto my instance of owncloud.

[2020-04-21 05:13] DeepDiver1975 commented on #74
Did you have a look in the online Docs?
We have a section there.

[2020-04-24 20:40] suhaylhallim commented on #74
Thank you for your responce and, sorry for the late reply. Maybe I'm not looking properly? I only found information on how to configure the app in the owncloud config file. Doesn't this app need to be install as a third-party app i.e. download and copy the app to the external_apps in the owncloud dir before configuring? If I'm misunderstanding something, please clarify.

best regards.

[2020-04-25 21:46] suhaylhallim commented on #74
I've solved this problem.

**My current Setup**
x64 Windows 10 Laptop (Used for remote access and development)
x64 Putty for Windows
x64 Git for Windows
Composer for Windows
Any FTP Windows Application(For transferring the files to my remote Linux server)

**Disclaimer**
While I'm sure you can do the following in windows CMD, I didn't try because I had git bash readily available on my computer for

[2020-04-25 21:46] #74 closed

[2020-04-26 06:02] suhaylhallim opened #76 "openid signsout after signing in"
I suppose this might be caused by the design of the idP Server I'm using.

### **Issues**
According to the owncloud.log file,
1 - The array of data provided to this app is incorrectly structured.
2 - Undefined Index of "use-token-introspection-endpoint". (probably because the data array is incorrect)
3 - The token cannot be verified.
4 - The provider revocation_endpoint could not be fetched. (I'm

[2020-04-27 06:47] DeepDiver1975 commented on #76
You only need to set these up if the idp is no supporting well-known url - check if this exists: https://domain-masked.com/.well-known/openid-configuration

[2020-04-27 20:58] suhaylhallim commented on #76
I solved this issue.

I removed the "provider-params" from my config file and i was presented with another error.

**Error after removing "provider-params"**
![01](https://user-images.githubusercontent.com/25756641/80413168-05fe0d00-889d-11ea-8209-1e9bbacd356c.png)

### **Solution to this problem**
Once again, this problem might be specific to the idP I am using/ any idP that requires lots of manu

[2020-04-30 09:27] phil-davis opened #78 "Unit test fails on PHP 7.4"
https://drone.owncloud.com/owncloud/openidconnect/363/15/6
[code]

[2020-04-30 09:35] mmattel commented on #66
@micbar @pmaier1 what is the plan to release OIDC ?

[2020-04-30 11:15] michaelstingl commented on #66
no ETA yet

[2020-04-30 13:16] #78 closed

[2020-05-09 23:50] suhaylhallim opened #80 "How to authorize client app"
How do i authroize client apps i.e. windows desktop client and android client app while this app is setup and functional?

I can sign in using the web browser. When I enter the url of my owncloud instance in the desktop client, it opens the browser for me to login. Once login, it goes to the the file app and the client app is never authorized. If I click "re-open browser" I'm taken to an already l

[2020-05-10 11:01] michaelstingl commented on #80
@suhaylhallim this is the issue tracker of the ownCloud 10 OpenID Connect app, not a help forum. Please use https://central.owncloud.org/ instead.

[2020-05-10 11:01] #80 closed

[2020-05-11 03:41] phil-davis opened #81 "phpstan 0.12.25 CI failing"
https://drone.owncloud.com/owncloud/openidconnect/376/2/5
[code]

[2020-05-11 07:35] #81 closed

[2020-06-05 15:58] lainosantos opened #85 "Import user from openid provider"
In some cases, it is useful to create the user when it does not correspond to any owncloud user, as it has been authenticated by a trusted provider.

I had this need and made a change to the code available in the https://github.com/lainosantos/openidconnect repository.

For my use it is enough, if you want to integrate here, you may need some more reliable adjustments and tests.

[2020-06-05 16:12] lainosantos commented on #85
I use this config:
[code]

[2020-06-05 16:14] lainosantos commented on #85
I use this config

[code]

[2020-06-21 22:13] butonic opened #86 "Exception: OpenID Connect token expired leads to 500"
Set up owncloud and follow the ocis bridge (install graphapi and openidconnect apps, run ocis-glauth & ocis-konnectd) to get oc10 authenticated against konnectd with the accounts existing in owncloud

initial login works, but as soon as the token expires the android apps do not refresh the token.

I used openidconnect master as well as oauth2 master and see this log line:

[code]

this leads to a

[2020-07-09 08:19] pmaier1 commented on #66
- Test setup and log in / log out with Kopano Konnect
- Test OAuth2 => OIDC migration with clients (running both oC 10 apps in parallel)

[2020-07-22 08:20] HanaGemela commented on #66
The app won't build cc @phil-davis
`make: *** No rule to make target 'dist'.  Stop.`

[2020-07-22 08:26] phil-davis commented on #66
How was it built last time?
(0.2.0 or 1.0.0RC1)

I am not familiar with why this app have "make"  code split between `Makefile` and `Makefile.release`

Having apps with different structure of "make"  files means that developers, release builders, and... have to somehow know specific build commands for each app. That is not good.

[2020-07-22 09:14] mmattel commented on #66
As I see progress here to build a RC (and maybe later a final first release),
I want to make you aware, that docs is not ready for it, see https://github.com/owncloud/docs/pull/2447

[2020-07-22 09:17] mmattel commented on #66
@HanaGemela @pmaier1 pls see https://github.com/owncloud/openidconnect/pull/87 which is open and maybe affects a successful first release

[2020-07-30 08:19] HanaGemela commented on #66
Merge the release branch back to include more fixes
Merge two makefiles into one

[2020-08-05 07:47] HanaGemela commented on #66
@davitol ready for testing https://github.com/owncloud/openidconnect/releases/tag/v1.0.0RC2

[2020-08-06 08:17] HanaGemela commented on #66
Test with only oC 10.5 @davitol
Include testing with oAuth2

[2020-08-24 12:20] davitol commented on #66
Tested with oC 10.5 + Openidconnect 1.0.0.RC2 + https://github.com/panva/node-oidc-provider/

- [ ] regular user
- [ ] LDAP user
- [ ] oAuth2 enabled

[2020-08-24 12:30] davitol commented on #66
@HanaGemela Should it be tested against oauth2 0.4.4 (unreleased) or 0.4.3.?

[2020-08-26 11:42] jesmrec opened #93 "All clients supported?"
I have been setting up the app by following the steps on the [README](https://github.com/owncloud/openidconnect/blob/master/README.md).

This is probably a set up issue, and not a problem in the code, but i have to share with you because it affects to clients.

Everything is fine when setting up and using this OIDC infra with web browser. With mobile apps, it was not posible. My assumption was tha

[2020-08-27 10:12] michaelstingl commented on #66
Please also cover migration from pre-OIDC-clients (desktop and mobile) to the latest ones with OIDC support.

[2020-08-27 10:14] davitol commented on #66
We should not use the IDP described in the README section https://github.com/owncloud/openidconnect  It is only for DEV purpose.

Instead of it, we should use Kopano https://github.com/owncloud-docker/compose-playground/pull/4

[2020-08-27 10:48] jesmrec commented on #93
Closing this. The mentioned idP is not valid for testing purposes.

[2020-08-27 10:48] #93 closed

[2020-09-01 13:00] jnweiger commented on #66
My current state: https://github.com/owncloud-docker/compose-playground/pull/51

[2020-09-03 14:49] pmaier1 commented on #66
To be decided: Known issue or release blocker https://github.com/owncloud/enterprise/issues/4191 ?

[2020-09-03 15:16] pmaier1 commented on #66
This should be part of 1.0.0: https://github.com/owncloud/openidconnect/pull/98

[2020-09-09 10:06] jnweiger commented on #66
Rc3 has #98

[2020-09-10 08:27] jnweiger commented on #66
Test setup deployed via hetzner_deploy/oake_openidconnect_test.sh

[2020-09-15 11:27] pmaier1 commented on #66
Added: This should be part of 1.0.0 https://github.com/owncloud/openidconnect/pull/100

[2020-09-15 12:48] DeepDiver1975 opened #101 "No information disclosure about the reason a user cannot login"
As of today the explicit reason why a user cannot be logged in via openid connect is dsplayed in the browser.

From a information disclosure perspective this is not perfect and needs adjustment.

[2020-09-16 22:53] jnweiger commented on #66
@davitol test setup deployed at https://owncloud.oidc-jw-qa.owncloud.works/

[2020-09-17 08:18] jnweiger commented on #66
@pmaier1  expects this to fail in this setup. Please try anyway. :-)

[2020-09-17 08:40] davitol commented on #66
Tested with oC 10.5 + Openidconnect 1.0.0.RC4 + Firefox WebBrowser

Scenarios tested:

- [x] regular user
- [x] LDAP user
- [x] oAuth2 0.4.3 enabled
- [ ] oAuth2 0.4.4 RC enabled
- [x] Test with iOS app 11.4. **Note** Login page shows a warning info related to oauth2 even when oauth2 is not enabled (see screenshot below)
- ❌  Test with Android app  Browser does not redirect back to the Android app

[2020-09-17 09:15] jnweiger commented on #66
@michaelstingl @pmaier1 see above test plan an results.

[2020-09-17 09:22] jnweiger commented on #66
@patrickjahns do you have details what the migration means exactly?

[2020-09-17 12:37] jesmrec commented on #66
Tests with mobile devices over such instance

- Android (2.15.2 version)

after entering credentials, an error is returned

![Screenshot 2020-09-17 at 13 26 03](https://user-images.githubusercontent.com/14894746/93464388-6263d680-f8e9-11ea-96cf-673441481011.png)

Checking the request flow, i notice that the `authorize` endpoint return a 302 with a redirection to error with a description

`redirect

[2020-09-18 06:33] davitol commented on #66
It does not happen to me using the same Android version than you @jesmrec .  Login process works fine, but at the end the browser does not redirect to the app and stays in the browser as it happens to you in iOS.

[2020-09-18 07:57] jesmrec commented on #66
Something strange... i have spread the tests to more devices:

- Android 11 device: Same behaviour as you: list of files is shown in the web browser
- Android 9 device: Same as Android 11 and yours
- Android 7 device: Behaviour mentioned [here](https://github.com/owncloud/openidconnect/issues/66#issuecomment-694201601).

As mentioned difference is in the header `location` in the response of the `s

[2020-09-23 11:56] pmaier1 commented on #66
In current customer scenarios all clients (desktop / iOS / Android) are authenticated against the server using either basic auth or OAuth2.

Generally speaking, OIDC is an addition to the OAuth2 standard. For client authorization, we have to consider them as two different, mutually exclusive ways of doing it. Apart from that, OIDC shall supersede OAuth2 at some point. That's why we need to test th

[2020-09-24 09:56] michaelstingl commented on #66
Following scenarios come to my mind:

### Desktop

**Client version/feature change**

- Desktop 2.6 connected to oC 10.5 with OIDC + OAuth ==> Desktop 2.7 connected to oC 10.5 with OIDC
- Desktop 2.6 connected to oC 10.5 with OIDC + OAuth ==> Desktop 2.7 connected to oC 10.5 with OIDC + OAuth

**Server feature change**

- Desktop 2.7 connected to oC 10.5 with OAuth ==> Desktop 2.7 connected to oC

[2020-09-24 15:48] DeepDiver1975 opened #104 "OpenID Connect 2.0.0"
### Reason

- https://github.com/owncloud/openidconnect/pull/103 Azure AD: Use access token payload instead of user info endpoint
- https://github.com/owncloud/openidconnect/pull/112 Message: Object of class OCA\OpenIdConnect\Application could not be converted to string
- https://github.com/owncloud/openidconnect/pull/85 Import user from openid provider: Auto provisioning mode

### Product approva

[2020-10-01 11:50] jesmrec commented on #66
[code]
does basic ==> OIDC make sense?

regarding this, together with the scenarios @michaelstingl has mentioned above:

`Android 2.15 connected to oC 10.5 with OAuth2==> Android 2.15 connected to oC 10.5 with OIDC`

OAuth2 and OIDC are managed by different apps, and they handle different tokens. In (mobile) clients, every account in stored internally with its confidential info (keychain, Android

[2020-10-01 12:12] DeepDiver1975 commented on #104
https://github.com/owncloud/openidconnect/pull/103 is merged to master

[2020-10-01 13:14] michaelstingl commented on #66
Recycling of the OAuth2 token for the OIDC connection is not planned. Migration would require entering the password again I think.

How to migrate an **existing** account OAuth to OIDC? Can the server send 401 to the clients to trigger re-login with OIDC?

[2020-10-01 13:27] jesmrec commented on #66
with "new connections" i meant new accounts to attach, not the existing ones before migration (sorry if it was confusing). As you mentioned, the jump will require re-authentication.

[2020-10-01 13:38] michaelstingl commented on #66
Yeah, fully understood the behavior for new accounts. But how can a server admin trigger all connected clients to migrate from OAuth to OIDC? Did you found a way?

[2020-10-02 06:43] jesmrec commented on #66
Not really. After migrating, all valid OAuth2 tokens should be invalidated and clients will detect an authentication failure, prompting users to enter credentials again (at least, mobile clients do that). Then, clients detect OIDC and so on. So, the server admin must assure that OAuth2 credentials (token) are no longer valid, but i think this is the expected behaviour in advance. We need to test i

[2020-10-07 14:15] jnweiger commented on #66
Seen with desktop testpilotcloud version 2.7.0daily20201004 (build 2209) on Ubuntu 18.04:
When oauth2 0.4.3 is enabled together with openidconnect-1.0.0-RC4 the desktop client complains with

![image](https://user-images.githubusercontent.com/1108546/95342906-35875b80-08b8-11eb-92ea-477730a9c53c.png)

Token confusion?

[2020-10-07 14:25] jnweiger commented on #66
@jesmrec We've identified a misconfiguration in my test setup today. One line was missing in the caddyfile.
We need to re-evaluate https://github.com/owncloud/openidconnect/issues/66#issuecomment-694087774 et al.

[2020-10-07 14:38] mmattel commented on #66
With all the tuning and setup made for OIDC, pls consider to share this knowledge in docs...

[2020-10-08 07:51] jnweiger opened #106 "[QA] [OIDC] Token refresh fails"
Tested with server 10.5 + openidconnect 1.0.0RC4 for owncloud/openidconnect#66 + desktop client testpilotcloud version 2.7.0daily20201004 (build 2209)

* connect via oidc
* wait a few minutes
* add a local folder, upload starts
* wait for an explosion:
![image](https://user-images.githubusercontent.com/1108546/95429382-9bbcbe80-094a-11eb-96c4-f8983f389bc1.png)

Despite the above error, the upload

[2020-10-08 08:33] jnweiger opened #105 "[QA] identifiere-registration.yml setting trusted:true has no effect"
Tested with server 10.5 + openidconnect 1.0.0RC4 for owncloud/openidconnect#66 + desktop client testpilotcloud version 2.7.0daily20201004 (build 2209)

My kopano/konnect/konnectd-identifier-registration.yaml contains
[code]
...

![image](https://user-images.githubusercontent.com/1108546/95431487-839a6e80-094d-11eb-87a6-61528211b02c.png)

The `name:` element is effective (I change the exact spellin

[2020-10-08 08:54] DeepDiver1975 commented on #105
Nothing we can do about - right?
Ask kopano on how to set this up?

[2020-10-08 09:18] longsleep commented on #105
@jnweiger the client requests a refresh token (Keep the allowed access persistently and forever), which always requires consent.

[2020-10-08 09:47] DeepDiver1975 commented on #106
@jnweiger

[2020-10-08 09:52] jnweiger opened #107 "[QA] App is not compliant"
Tested with server 10.5 + openidconnect 1.0.0RC4 for #66

[code]

No idea how relevant this code check is. Just mentioning....

[2020-10-08 10:08] DeepDiver1975 commented on #107
not relevant at all - app:check-code is pre-historic and no longer of interest

[2020-10-08 10:08] #107 closed

[2020-10-08 11:06] jnweiger commented on #105
How can we achieve the expected behaviour?
@longsleep are you saying the client requests a refresh token where it should do something else instead?

@micbar IIRC you indicated that `trusted: yes` is used in ocis successfully? Retested that here too. No success.

[2020-10-08 11:20] longsleep commented on #105
@jnweiger not sure what behavior you expect, but from the IdP provider the behavior you see is the expected behavior. Long term access requires consent and thus interactive consent.

[2020-10-08 16:26] jnweiger commented on #105
I see. It is intended security behaviour. The downside is, that we cannot implement a seamless single sign own with that behaviour.

[2020-10-08 20:18] jnweiger commented on #106
Hmpf. I use the official docker-compose logs command. Okay. It is different from the expected owncloud log -- bad.

[2020-10-08 20:29] jnweiger commented on #106
[owncloud.log.zip](https://github.com/owncloud/openidconnect/files/5351178/owncloud.log.zip)

[2020-10-09 06:34] DeepDiver1975 commented on #105
Maybe I miss something but this is quite standard behavior on any SSO. On the initial setup of the connection between client and server this is popping up.

[2020-10-09 07:56] michaelstingl commented on #105
`trusted:true` hides the 2nd step when logging in with iOS or Android app. Expectation is, it has to work the same way when connecting with the desktop app too.

[2020-10-14 07:30] jesmrec commented on #66
Latest checks with mobile against  `https://owncloud-1-0-0rc4.oidc-jw-qa.owncloud.works`

**- Android bad behaviours depending on versions (https://github.com/owncloud/openidconnect/issues/66#issuecomment-694718837)**

Fixed. Tested with Android 7, 9 and 11. All of them finish the authentication and authorization process in browser and then, redirection to the app is correct.

**- iOS does not red

[2020-10-14 12:54] DeepDiver1975 commented on #106
Nothing of interest in the logs. Maybe in the apache error log?

But it looks like this is the same issue as this one https://github.com/owncloud/openidconnect/issues/86

[2020-10-15 08:33] #86 closed

[2020-10-15 08:33] #106 closed

[2020-10-15 19:55] jnweiger commented on #66
https://github.com/owncloud/openidconnect/releases/tag/v1.0.0RC5

[2020-10-15 19:57] jnweiger commented on #106
created https://github.com/owncloud/openidconnect/releases/tag/v1.0.0RC5 with this fix

[2020-10-16 11:52] jesmrec commented on #66
New checks with `https://oc-10-5-0.oidc-1-0-0rc5.jw-qa.owncloud.works/` . Thanks @jw for building the environment!

Different steps in the migration, tested one by one:

**1) OAuth2 installed and enabled (0.4.4). Some tests performed, since this is also an RC**

|  - | Check URL | Select auth method (OAuth2) | Authorization | Token renewal | Token revokal |
| :-: | :-: | :-: | :-: | :-: | :-: |
|

[2020-10-20 23:57] jnweiger commented on #66
I am repeating steps 1), 3) and 4) with testpilotcloud 2.7.0daily20201019 (build 2311) Oct 15 2020 00:08:32

logging in, and logging out the client in each stage.
All logins succeed, first oauth2 is used, then later openidconnect is used.
No problems :heart:

Only when both, oauth2 and openidconnect are disabled, we see a slight glitch with https://github.com/owncloud/client/issues/8180

Step 2) i

[2020-10-21 15:00] jesmrec commented on #66
Let's give a new try with `https://oc-10-5-0.oidc-1-0-0rc5-20201020.jw-qa.owncloud.works`

### Android

**1. OAuth2 enabled, OIDC disabled**

Connection correct, no issues ✅

**2. Enable OIDC, so both OAuth2 and OIDC are available**

- App uses OAuth2 and keeps using OAuth2  ✅
- By entering in the Account Manager -> Edit  account, the authentication process works correctly and the OAuth2 account b

[2020-10-25 07:34] otahmasebi opened #112 "Message: Object of class OCA\OpenIdConnect\Application could not be converted to string"
my owncloud status:
version | 10.5.0.10
versionstring | 10.5.0
edition | Community

i installed and configured [openidconnect 1.0.0 ](https://github.com/owncloud/openidconnect/releases/tag/v1.0.0) and i got this error after login:

Internal Server Error
The server encountered an internal error and was unable to complete your request.

Please contact the server administrator if this error reappears

[2020-10-27 07:37] otahmasebi commented on #112
thanks, problem solved.

[2020-10-27 07:37] #112 closed

[2020-10-27 07:51] otahmasebi opened #114 "error in using gluu as identity provider"
I'm using GLUU as idp in my setup.
it's doing well with other applications i have.

OPENID CONNECT CLIENTS DETAILS in GLUU server
------------------------------
- **Name:** cl1.owti.ir
- **Client ID:** 9e59b137-6914-4777-b660-d6347e2418e9
- **Subject Type:** pairwise
- **ClientSecret:** XXXXXXXXXXX
- **Application Type:** web
- **Persist Client Authorizations:** true
- **Pre-Authorization:** false

[2020-10-27 10:45] DeepDiver1975 commented on #114
Looks like gluu is not using JWT as access tokens .....

You need to use the token introspection endpoint then ... no idea is gluu supports that ....

Feel free to provide the output of the service discovery information (if available under https://your.idp.net/.well-known/openid-configuration

[2020-10-27 12:35] otahmasebi commented on #114
aha! i have to set Access Token as JWT.

this is my idp discovery information link:
[https://idp.danaholding.com/.well-known/openid-configuration](https://idp.danaholding.com/.well-known/openid-configuration)

I can customize my gluu server. I turned <Access Token as JWT> on in my gluu server, that fixed the error.

but now if I'm not logged in on idp.danaholding.com and cl1.owti.ir, when I try to

[2020-10-27 12:55] DeepDiver1975 commented on #114
Which browser are you using?

[2020-10-27 13:04] otahmasebi commented on #114
Chrome Version 86.0.4240.111 (Official Build) (64-bit)
Firefox Version 82.0 (64-bit)

[2020-10-27 13:08] otahmasebi commented on #114
if it help, this is my redirect url from idp.danaholding.com to cl1.owti.ir:

https://cl1.owti.ir/apps/openidconnect/redirect?code=65f7cb7c-ac97-4d55-97eb-83ee24cd33f7&scope=openid+profile+email&session_id=8341eddc-6e12-4bc4-a85d-f61efa5f9313&state=dceb955d391d05914908bab85faf7018&session_state=1257214232317d45059156efc78e8e7244fba5d2d1844a4c45f5b49c8cfdb410.b473de73-d667-4e6b-aa29-997ccef68a27

[2020-10-27 13:16] DeepDiver1975 commented on #114
This issue is related to the site cookie settings. It's a mess! 🙈
Comment this line https://github.com/owncloud/core/blob/4ce1d0ced1fb0d1451f7dee13dccd4ebc04a537c/lib/private/Session/CryptoWrapper.php#L102

[2020-10-27 13:33] otahmasebi commented on #114
I also commented [https://github.com/owncloud/core/blob/4ce1d0ced1fb0d1451f7dee13dccd4ebc04a537c/lib/private/Session/CryptoWrapper.php#L101](https://github.com/owncloud/core/blob/4ce1d0ced1fb0d1451f7dee13dccd4ebc04a537c/lib/private/Session/CryptoWrapper.php#L101) and it fixed. thanks alot.

but there is three other things:
1. how can I define Post Logout Redirect Url
2. I have problem with "id_tok

[2020-10-27 17:56] pmaier1 commented on #66
Docs PR https://github.com/owncloud/docs/pull/2830

[2020-10-29 06:02] DeepDiver1975 commented on #104
https://github.com/owncloud/openidconnect/pull/113 should be in 1.1.0 as well

[2020-10-29 06:03] #105 closed

[2020-10-29 06:04] DeepDiver1975 commented on #22
Is this still of interest?please reopen then. Thx

[2020-10-29 06:04] #22 closed

[2020-10-29 09:47] felix-schwarz commented on #66
Regarding triggering an upgrade of authentication methods by
- disabling authentication methods or
- depending on letting authentication fail
presents its own challenges.

In that context, I proposed an alternative solution in (https://github.com/owncloud/ios-app/issues/824#issuecomment-718554614), but now reading this issue feel it really belongs into this issue:

Disabling authentication methods

[2020-11-06 08:48] DeepDiver1975 commented on #114
see https://github.com/owncloud/openidconnect/issues/85 and #118

[2020-11-06 08:52] DeepDiver1975 commented on #114
the token is mandatory - question is:
- why is the token considered invalid?

Does the logout work anyways?

[2020-11-06 09:13] #66 closed

[2020-11-06 09:20] DeepDiver1975 commented on #104
we have now auto provisioning in the pipeline as well #118
@pmaier1
- [ ] include auto provisioning in 1.1
- [ ] leave 1.1 for azure and do a 2.0 for auto provisioning
- [ ] do a 2.0 fr azure and auto provisioning

[2020-11-06 09:37] pmaier1 commented on #104
Nice! I think one release covering both would be great.

[2020-11-06 10:38] otahmasebi commented on #114
Tanks, i will check it.

I think it's a bug in gluu or maybe my configs, I'm sure that gluu does keep token of sessions itself and there is no need to send "id_token_hint" in end_session request. so I want to know if owncloud/openidconnect could send end_session request without any parameters in it.

[2020-11-20 09:59] max-1004 opened #123 "Get error 503 Service unavailable when using OIDC"
Hello,
I am working on moving our current ownCloud from LDAP to OIDC.  For this I have created a new ownCloud instance. When I tried to log in via the OIDC provider cidaas after activating OpenID Connect, I got the error 503 "Service Unavailable" and saw the message " Error in OpenIdConnect:Unable to determine state" on the screen. I tried it already with different configuration parameters, but ev

[2020-11-20 10:13] DeepDiver1975 commented on #123
Which IdP?
Which browser?

(Most likely Chrome - CSP policies are suppressing cookies ...... ref https://charliedigital.com/2020/01/22/adventures-in-single-sign-on-samesite-doomsday/
A workaround is to comment this line https://github.com/owncloud/core/blob/736e54aa571658b9f1a31f9a27a3ff877b2a3006/lib/private/Session/CryptoWrapper.php#L102)

[2020-11-20 10:18] max-1004 commented on #123
IdP provider is cidaas by WidasID
As Browser I use Firefox 82.0.3 (64-Bit) and also tried Chrome Version 87.0.4280.66 (Offizieller Build) (64-Bit)

[2020-11-20 10:22] DeepDiver1975 commented on #123
We did not yet test this Idp (actually never heard of it until now ;-) ) ....

Please give it a try to comment the line as suggested above (+restart apache to be sure the changes are properly applied -one never knows ....)

[2020-11-20 10:24] DeepDiver1975 commented on #123
FYI: since https://widas.cidaas.de/.well-known/openid-configuration exists you don't need to declare all these values ....

[2020-11-20 10:53] max-1004 commented on #123
[code]
I removed the provider-params and commented "samesite" => 'strict' out. But now my ownCloud shows only a white screen before the login page

[2020-11-20 11:12] max-1004 commented on #123
[code]
It works now. Thank you a lot! I took a snapshot and did the steps again.

[2020-11-20 11:24] DeepDiver1975 commented on #123
usually a sign of some fatal error - there is a crash report file in the data folder .... FYI for the next time ;-)

[2020-11-20 11:26] DeepDiver1975 commented on #123
In order to really fix the problem - the IdP can send this header in the redirect back to OC - this will allow the browser to include the strict cookie. https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Sec-Fetch-Site

You might want to get in touch with the devs of cidaas ;-)

[2020-11-20 11:46] max-1004 commented on #123
Okay, thank you very much for your help!

[2020-11-20 11:46] #123 closed

[2020-12-15 09:25] max-1004 opened #125 "How can I add OpenID for Android and IOS"
Hi guys,

I have set up OIDC for Owncloud for the company where I work. It works fine for Owncloud in the browser.
From the other tickets and docs, unfortunately I don't understand how to add OIDC for Android and IOS.
Do I need to add it in the config.php file of owncloud?
I'm using as OIDC provider "cidaas" and here I have to decide between IOS & Android & Webpage.

About help where I can do the

[2020-12-15 09:27] DeepDiver1975 commented on #125
@michaelstingl

[2020-12-15 09:32] max-1004 commented on #125
What I forgot. When I go into the app, I am redirected to the normal login page. Then when I press the button for OIDC, then the page starts loading. But after it loads I am still on the login page

[2020-12-15 10:49] michaelstingl commented on #125
No, experience with cidaas, sorry. Normally you need to register the ownCloud apps in your IdP. Here you can find the parameters:
https://doc.owncloud.com/server/10.6/admin_manual/configuration/user/oidc/#set-up-and-configure-the-identity-provider

[2020-12-15 12:02] max-1004 commented on #125
In the browser it works fine, so I think the parameters should be ok. But I don't understand how to use the desktop, Android and IOS clients. Do I need a separate client_ID and client_secret for each client? And the client information for web I can change in config.php file, but where can I do it for the other apps?

[2020-12-15 12:32] DeepDiver1975 commented on #125
@max-1004 the clients have some pre-defined client ids and secrets inside. These need to be setup in the Idp - if possible.

If this is not possible customer build will be necessary - which is something to be done as part of an enterprise subscription.

An alternative approach is to wait a while until the client support dynamic client registration ....

[2020-12-16 07:08] max-1004 commented on #125
We have now a new client with the pre-defined client_id & client_secret. By trying to use the Owncloud desktop-app we get this error:
{
    "code": "invalid_request",
    "moreInfo": "",
    "type": "UserAuthRequestException",
    "status": 400,
    "referenceNumber": "1608047869310-c24b790b-0e28-4a0c-acd6-9efbb4f27f1e",
    "error": "invalid_request: given url is not allowed by the application co

[2020-12-26 15:56] otahmasebi opened #127 "Desktop and mobile application login with openid"
Hi,
my openid provider server is GLUU. everything is set and doing well, but i have problem in loging in into Desktop application and also mobile application. here in [#66](https://github.com/owncloud/openidconnect/issues/66#issuecomment-694087774) the webpage does show `Authorize` button to user, but in my case after opening and loging in into webpage the application just stuck and shows re-open

[2020-12-27 07:43] otahmasebi commented on #127
I solved my fist issue by installing [oAuth2](https://marketplace.owncloud.com/apps/oauth2) plugin on owncloud.
but my second problem that is creating new users is not solved.

[2020-12-27 10:39] michaelstingl commented on #127
Creating new users on the fly will be solved with „auto provisioning“ feature in one of the next releases. There’s already a development branch: https://github.com/owncloud/openidconnect/pull/118

BTW there’s another Gluu related issue:
https://github.com/owncloud/openidconnect/issues/114

[2021-01-01 20:25] hairmare opened #128 "redirect_url from login is not preserved across authentication"
If I am not logged in to ownCloud and I open a link that has been shared with me I do not get redirected to the originally requested page.

ie. this link `https://share.example.org/login?redirect_url=%252Fsettings%252Fpersonal` should take me to the settings page post-login.

The app currently does not preserve the `redirect_url` from the request at any point.

[2021-01-07 10:24] #85 closed

[2021-01-07 10:47] DeepDiver1975 commented on #127
#118 is merged -> closing

[2021-01-07 10:47] #127 closed

[2021-01-07 10:48] DeepDiver1975 commented on #125
@max-1004 as far as I understood the issues have been resolved - correct? Can we close this issue now? THX

[2021-01-07 10:50] DeepDiver1975 commented on #114
@otahmasebi I assume we can close this issue. If not let me know. THX

[2021-01-07 10:50] #114 closed

[2021-01-07 10:53] michaelstingl commented on #125
Desktop app has redirect URI `http://localhost:*`, but this syntax isn't supported in the Kopano Konnect IdP that was used for testing. I hope, more mature IdP's out there support this.

It's also used in ownCloud's own OAuth 2.0 implementation:
https://github.com/owncloud/oauth2/blob/ccee1229d2149c308382fd650546b3996f2c1e75/appinfo/Migrations/Version20170329194544.php#L15-L17

[2021-01-07 11:17] longsleep commented on #125
@michaelstingl we can easily support if if that is a thing. For Kopano Konnect this would be "http://localhost/" - the port is actually ignored for native applications. In your `http://localhost:*` example though you are missing the "path" - not sure if that should be allowed or considered a valid redirect_uri.

[2021-01-07 11:25] michaelstingl commented on #125
This would be perfect. UCS also had to work around this:
https://forge.univention.org/bugzilla/show_bug.cgi?id=52054

I'd rely on @DeepDiver1975 or @TheOneRing 's judgement. /cc @IljaN @C0rby

[2021-01-07 12:10] longsleep commented on #125
@michaelstingl thanks - though i cannot see anything there related to "wildcard". I only read the definition like implemented in Kopano Konnect that the port is ignored when validating. "*" is not a valid port and thus is not allowed. Do you have a reference to a standard which explicitly defines this "*" use as port wildcard?

[2021-01-11 12:41] pmaier1 commented on #104
Any new config options in this release? https://github.com/owncloud/openidconnect/pull/118 mentions that the auto-provisioning needs to be **enabled**.

- [ ] Update documentation

[2021-01-11 13:31] longsleep commented on #123
@DeepDiver1975 this is unclear to me and probably should be reopened. Imo the issue is that the ownCloud cookies use `SameSite: strict` (https://github.com/owncloud/core/blob/736e54aa571658b9f1a31f9a27a3ff877b2a3006/lib/private/Session/CryptoWrapper.php#L102) and thus when coming back as redirect from an IdP on another origin, the request to ownCloud does not contain any cookies.

There is nothing

[2021-01-11 17:48] DeepDiver1975 commented on #123
With kopano konnect it works because of the sec-fetch header.
From my pov it is better to work with an explicit exception using this header then relaxing same site settings for the whole application.

[2021-01-11 19:22] longsleep commented on #123
@DeepDiver1975 OK - then I do not understand it - can you explain where to set this header and to what value? Who does set it in the first place? Afaict we do not set such a header in Kopano Konnect.

[2021-01-11 19:38] DeepDiver1975 commented on #123
I'll look through my notes and let you know asap.

[2021-01-12 00:49] jnweiger opened #132 "[QA] 2.0.0 Testplan"
## Setup

<details>
<summary>Setup details (click to view)</summary>

Automated setup script: https://github.com/owncloud-docker/compose-playground/blob/master/examples/hetzner-deploy/make_openidconnect_test.sh

References:
* https://github.com/owncloud/docs/issues/2855#issuecomment-719944884
* https://doc.owncloud.com/server/admin_manual/configuration/user/oidc/
* https://github.com/owncloud/open

[2021-01-13 14:55] max-1004 commented on #125
@DeepDiver1975 yes, it is solved for us. I think it's not a good way, but it works now. You can close it, thanks for your help

[2021-01-13 16:25] michaelstingl commented on #125
Implementation of dynamic client registration is finished for iOS. @max-1004 I could send you a build for testing.

For desktop, implementation is work in progress, but I expect availability in one of the daily builds soon…

Android didn't start yet.

[2021-01-15 09:38] jnweiger commented on #132
* dynamic client

[2021-01-15 10:52] longsleep commented on #123
@DeepDiver1975 after investigating this a bit more, i think this problem needs a fix on ownCloud side.

ownCloud sets two cookies (oc_sessionPassphrase, and the one with the dynamic name), both use `SameSite: strict` and thus are not sent to the `apps/openidconnect/redirect` endpoint when coming back from the IdP running on a different origin.

Those cookies are required by the redirect endpoint t

[2021-01-15 20:09] jnweiger commented on #132
@michaelstingl @jesmrec please fill in details where possible.

[2021-01-18 09:12] max-1004 commented on #125
@michaelstingl ios is the device that I do not use but other colleagues so for me the desktop or andorid application would be better to test but thanks

[2021-01-18 09:24] max-1004 commented on #125
At the moment ios and Android is working better than the normal web owncloud. If I want to enter the owncloud site with our oidc provider than it stays at the same page but gives me a 301 redirect. But nothing happen I'm still on the normal login page. Only when I'm in the same network it works. For e.g the Android App I dont have this issue

[2021-01-18 09:29] michaelstingl commented on #125
Please open new issue for this.

[2021-01-18 10:03] max-1004 opened #133 "Owncloud-web only works in the same network where it runs"
When I try to login to our owncloud from outside the host-network with the OIDC provider, than its not possible. When I press the button to login, the side loads and than stays at the same page. When I connect via VPN to the host network / go to office and use wlan it work fine. Also with the desktop, IOS and Android App it work fine. As redirect URL I use https://owncloud.example.de/apps/openidco

[2021-01-18 10:46] longsleep opened #134 "OIDC callback requests rely on SameSite: strict cookies which fails with cross domain IdP"
This follows up https://github.com/owncloud/openidconnect/issues/123#issuecomment-760854250 as a new ticket.

ownCloud uses `SameSite: strict` on all cookies (https://github.com/owncloud/core/blob/736e54aa571658b9f1a31f9a27a3ff877b2a3006/lib/private/Session/CryptoWrapper.php#L102) which leads to no cookies being sent, when the OIDC callback comes back from the IdP (as a redirect to ownCloud) and t

[2021-01-18 11:53] jesmrec commented on #132
i added the link to the OIDC test plan i used to execute. Do you need more details there?

I will add dynamic registration test cases as soon as i start with it.

[2021-01-18 16:35] DeepDiver1975 commented on #133
- both urls are different -> this is where the error comes from
- you can register both uris as redirect urls in the idp
- or fix the owncloud setup so that index.php is no longer used (https://doc.owncloud.org/server/9.0/admin_manual/configuration_server/index_php_less_urls.html)

[2021-01-18 17:08] michaelstingl commented on #125
Here we have the first desktop daily builds from master branch:
https://download.owncloud.com/desktop/ownCloud/daily/2.8/
(Linux pending)

[2021-01-18 17:09] michaelstingl commented on #125
We track the Android progress here:
https://github.com/owncloud/android/issues/3054

[2021-01-20 08:17] max-1004 commented on #133
I have tried it with both Uris in our IDP. But it is still the same. How can I change the redirect url of the button? The button I created for OIDC in config.php always has the url without index.php even if I change it in the IDP.
I also followed the steps for "fix the owncloud setup so that index.php is no longer used", but I still have the same problem. To be honest, I don't understand why it wo

[2021-01-20 08:43] max-1004 commented on #133
![Bildschirmfoto von 2021-01-20 09-40-02](https://user-images.githubusercontent.com/74765918/105149171-8b98ab80-5b03-11eb-985e-3681c7b1c85a.png)
Outside from the host network it looks like it work. It says redirect 302 but it stays on the same page...

[2021-01-20 11:45] DeepDiver1975 commented on #133
the idp is not accessible from the outside world ..... but it should ....

![Screenshot from 2021-01-20 12-45-07](https://user-images.githubusercontent.com/1005065/105170576-69138c00-5b1d-11eb-8fb9-1b420bb7ae4e.png)

[2021-01-20 12:03] max-1004 commented on #133
Thats not completely right.

Thats a normal behaviour from our side we are not exposing any UI or endpoint through this base path: https://widas.cidaas.de/
You can try to open this wellknown configuration endpoint: https://widas.cidaas.de/.well-known/openid-configuration
The OIDC configuration endpoint and all necessary services are reachable from the outside world.
Also the nginx is giving a prop

[2021-01-20 13:27] max-1004 commented on #133
The authorization URLs seems to be different from inside the network and outside of the host network (when I look with F12).
Inside the network:
GET https://widas.cidaas.de/authz-srv/authz?response_type=code&redirect_uri=https://owncloud.widas.de/apps/openidconnect/redirect&client_id=XXX&nonce=b6319a25219db247ddf18544c7f14710&state=496cca5f33744900fa5ccb378ad21bf6&scope=openid email profile identi

[2021-01-22 09:31] jnweiger opened #135 "[QA] Errors while enabling openidconnect-2.0.0RC1"
Within a docker-compose 10.6.0 server,

* docker-compose exec owncloud bash
[code]
[code]
[code]
* From the admin settings web ui find the disabled openidconnect app,
* verify that its version now shows 2.0.0, click 'enable'
* An error message appears (note: it complains about 'cannot disable' although I asked for enable):
![image](https://user-images.githubusercontent.com/1108546/105473138-0ba649

[2021-01-22 09:48] jnweiger commented on #104
## Issues opened while testing RC1

* #135 - [QA] Errors while enabling openidconnect-2.0.0RC1

[2021-01-22 20:08] jnweiger opened #136 "[QA] no session timeout, when migrating from basic auth to OIDC"
## Tested openidconnect-2.0.0RC1 in oc-10.6.0 with both firefox web ui and desktop client 2.7.5RC2

* Make sure basic auth is used:
`occ maintenance:mode --on; occ app:disable openidconnect; occ maintenance:mode --off`

* connect desktop client with username and password
* login a web browser with username and password

* migrate to OIDC:
`occ maintenance:mode --on; occ app:enable openidconnect; o

[2021-01-22 20:14] jnweiger commented on #136
@TheOneRing the desktop client seems to pick up the .well-known/openid-configuration, but does never asks the user to do the OIDC cycle:

[code]

[2021-01-23 00:45] jnweiger commented on #136
The admin must use `'token_auth_enforced' => false,` to trigger re-authentication of the desktop client.

[2021-01-25 16:05] max-1004 commented on #133
I made a little mistake, we get in both get requests as response from the redirect URL https://owncloud.widas.de/apps/openidconnect/redirect the same location. But only if we are in the same network as our server, we are then also redirected to the cidaas login page.

Inside the network:
Location: https://widas.cidaas.de/authz-srv/authz?response_type=code&redirect_uri=https%3A%2F%2Fowncloud.widas.

[2021-01-25 16:54] jesmrec commented on #136
if client is connected initially via basic auth: it will work as basic auth till user log in again, then URL-check returns OIDC as most-prior authentication method, and new OIDC session starts. If there is no re-login from user, basic auth will run unless it is disabled in some way in the server (unknown from me)

With the steps you described, i understand that the client is connected via basic au

[2021-01-26 12:59] jnweiger opened #138 "[QA] autoprovisioning fails with 'picture-claim' => 'picture'"
Reference: https://github.com/owncloud/openidconnect#setup-auto-provisioning-mode
The documented config setting for the auto-provision feature of openid-connect
[code]
Leads to an error.
The comment above indicates that the value should be a URL  and is inconsistent with the value `picture`, which is not a URL.

Expected behaviour: documentation be consistent and explain if the shown value is a pl

[2021-01-26 12:59] jnweiger commented on #138
Workaround: comment out  `  // 'picture-claim' => 'picture',` then the user gets autoprovisioned.

[2021-01-26 13:02] jnweiger commented on #132
## Changlog Testplan

* [ ] dynamic client registration
* [x] azure ad
* [x] autoprivisoning #85

[2021-01-26 13:02] jnweiger commented on #132
### Issues opened while testing
* #138

[2021-01-26 13:03] jnweiger commented on #104
### Issues opened while testing

* #138 [QA] autoprovisioning fails with 'picture-claim' => 'picture'

[2021-01-26 13:45] jnweiger commented on #85
The syntax described above was not implemented. Instead of an 'import' dict, we use 'auto-provision' in openidconnect-2.0.0RC1 as documented in https://github.com/owncloud/openidconnect#setup-auto-provisioning-mode

[2021-01-26 13:53] jnweiger opened #139 "[QA] autoprovisioning does not import the fullname"
Tested with openidconnect-2.0.0RC1 on oc-10.6.0 with php-7.4.3 connected against Azure AD

My Test user at Azure AD is named "Juergen Weigert"
With autoprovisioning on, the user gets created in ownCloud as oidc-user-60100f71354ec

Expected behaviour: The user would also show up as Full name 'Juergen Weigert' in owncloud.

![image](https://user-images.githubusercontent.com/1108546/105853182-b133228

[2021-01-26 13:57] jnweiger commented on #139
Confguration used:

[code]

[2021-01-26 14:20] jnweiger opened #140 "[QA] autoprivosioning only adds user to one group"
Tested with openidconnect-2.0.0RC1 on oc-10.6.0 with php-7.4.3 connected against Azure AD

My test user at Azure AD is identified by juergen.weigert@owncloud.com
With autoprovisioning on, the user gets created in ownCloud. the groups setting is:

[code]

The imported user is added only to the 'admin' group.
(One other user at the server is at least in group 'employees', so we know the group exists

[2021-01-26 16:14] DeepDiver1975 commented on #140
Do all groups exist in the system? 🙈

[2021-01-28 01:21] jnweiger commented on #132
Dynamic client registration with owncloud-2.7.0-daily20210127 (win10)

Tested against a server installation, where kopano has a konnectd-identifier-registration.yaml with an invalid entry
[code]

and openidconnect-1.0.0 is running.
The client logs
[code]

[2021-01-28 08:35] jnweiger opened #141 "[QA] IDP certificate error causes a stack trace"
Tested with openidconnect-2.0.0RC1 on oc-10.6.0 with kopano konnect as IDP
Setup done via https://github.com/owncloud-docker/compose-playground/blob/master/examples/hetzner-deploy/make_openidconnect_test.sh

In this setup, caddy is used for ssh termination. It pulls two certificates from letsencrypt. Sometimes this fails due to ratelimits or similar.
When we have a certificate for owncloud server,

[2021-01-28 11:15] jnweiger commented on #132
Logfile output from client 2.8 daily 20210127, linebreaks added for readability via `grep dyn owncloud.log.0 | sed -e 's/&/\n\t&/g' > dynlog.txt`

[code]

[2021-01-28 11:27] DeepDiver1975 commented on #141
set debug to false in config.php - default behavior since years

[2021-01-28 11:47] TheOneRing commented on #132
Well the first is the response in which we got the new client id after the registrations.
The other entries are token refreshs where we use that id.
So looks fine to me.

[2021-01-29 12:58] jnweiger commented on #132
Should the dynamic client ID also refresh itself ater some time? Or is this infinitly valid?

[2021-01-29 13:06] TheOneRing commented on #132
It times out, the response returning the id also provides client_secret_expires_at

[2021-01-29 15:23] jnweiger commented on #104
@pmaier1 @DeepDiver1975
openidconnect-2.0.0RC1 pased QA. I'll tag it final and upload to github.
For the next steps I need your help:
* Sync with Marketing,
* push dcoumentation updates. (E.g. dynamic registration is not mentioned in  https://doc.owncloud.com/server/admin_manual/configuration/user/oidc/)

[2021-01-29 15:52] DeepDiver1975 commented on #104
no - because the server is not supporting client registration. This is a pure client thing ...

[2021-01-29 15:58] michaelstingl commented on #104
Clients and IdP need to support dynamic client registration.

[2021-01-29 16:50] jnweiger commented on #132
Tests successful wrt to openidconnect--2.0.0 - client issues pending.

[2021-01-29 16:50] #132 closed

[2021-02-01 10:51] michaelstingl commented on #125
Android pull request:
https://github.com/owncloud/android-library/pull/367

@max-1004 can you build the Android client, or should we send you an APK?

[2021-02-01 11:13] #125 closed

[2021-02-02 12:35] felix-schwarz opened #142 "OIDC Dynamic Client Registration expiry hinders OIDC token refresh"
## Summary
The ownCloud Android, Desktop and iOS clients are running into an issue with Kopano's OIDC implementation if:
- the `refresh_token` was retrieved using a dynamically registered client ID
- the dynamically registered client ID has expired before the `refresh_token` was used

## Tested cases
When sending the `refresh_token` together with the `client_id`/ `client_secret` with which is was

[2021-02-02 14:31] longsleep commented on #142
Well @felix-schwarz - Don't use the client_id anymore, when its secret is expired. Since the refresh token is bound to the client_id value, also means you cannot use the refresh token once the client_id is expires.

Having that said, and that the dynamic client secrets are only valid for 1 hour (as issued by Kopano Konnect), I can see that this is a problem.

[2021-02-02 15:08] felix-schwarz commented on #142
@longsleep Thanks for the clarification. I took another look into the [specification](https://openid.net/specs/openid-connect-core-1_0.html#RefreshingAccessToken) and as you wrote above the `refresh_token`'s usage is bound to the `client_id` it was issued to:

I couldn't find any explicit information in the [Dynamic Client Registration spec](https://openid.net/specs/openid-connect-registration-1_0

[2021-02-02 15:40] jnweiger commented on #104
2.0.0 final is at github: https://github.com/owncloud/openidconnect/releases/tag/v2.0.0

[2021-02-02 15:50] longsleep commented on #142
@felix-schwarz the only way i see which works would be non-expiring dynamic client registration. This is currently not possible with Kopano Konnect, but could be easily changed.

I checked a bit around, and others also seem to be sending back `0` as `client_secret_expires_at` which seems to mean "does not expire". Not sure what the security implications are, but its certainly possible.

[2021-02-02 21:07] felix-schwarz commented on #142
@longsleep Thanks for sharing that! In the specs, nothing pointed to `0` as a possible/plausible value and the implementation in the iOS client would have seen that as expiration on the first minute of the year 1970. 😅

Regarding security, the dynamic `client_id` - in this context - imposes a de facto hard limit on the maximum duration of a "session": if the `client_id` expires, the `refresh_token

[2021-02-03 12:04] longsleep commented on #142
@felix-schwarz the `0` value is part of the spec (see https://openid.net/specs/openid-connect-registration-1_0.html#RegistrationResponse). So treating it as 1970 is certainly an implementation bug.

It cannot stay open for any period of time since it is bound to the validity of the refresh token (which usually have some very long expiration like 3 years or so as it is by default with Kopano Konnec

[2021-02-04 10:15] longsleep commented on #125
@michaelstingl i looked into the wildcard situation and i came to the conclusion that wildcards on the hostname are discouraged because of security implications and this should not be used or supported.

Wildcard support for the port is not required as for native applications listening http://localhost:* , the port must be ignored when validating the redirect_uri target with the registration (this

[2021-02-04 10:44] michaelstingl commented on #125
Okay, sounds good 👍

[2021-02-26 11:58] DeepDiver1975 commented on #134
I finally got back to this - sorry for the delay ....

As I did my tests around the samesite cookie and openid I did see the integration between owncloud and konnectd working even with the same site cookie in place.

I suspected that this is because the Sec-Fetch-Site header is in the redirect and I thought konnectd is setting it.
Which is not the case based on feedback by @longsleep

I wonder whe

[2021-02-26 13:22] longsleep commented on #134
@DeepDiver1975 the `Sec-Fetch-Site` header is set by the user agent automatically. It is used to let the server know how a client is treating a certain request. See https://bugs.chromium.org/p/chromium/issues/detail?id=843478

[2021-02-26 13:26] DeepDiver1975 commented on #134
I did not yet check the linked bug report ...

But why was it set with my kopano tests but not with e.g. azure/pingid?

Looks like I need to rerun my tests ....

[2021-02-26 13:42] longsleep commented on #134
Well, those headers alone have no actual influence on the behavior described in this bug report. If you have a recent enough Chromium you see these headers all the time.

Like for example in one of my (ownCloud unrelated) tests:

[code]

The browser just tells the server how it its going to treat this request.

[2021-02-26 13:45] DeepDiver1975 commented on #134
ok - so I was on the wrong track .....

as stated above - I need to rerun my tests .....

thx for the pointers @longsleep

[2021-02-26 23:50] jnweiger commented on #140
ok. understood. Groups are not autoprovisioned.

[2021-02-26 23:50] #140 closed

[2021-02-27 09:37] michaelstingl commented on #140
Syncing full user directories, including groups, could be done with [SCIM]( https://openid.net/specs/openid-connect-scim-profile-1_0.html).

[2021-03-02 08:58] DeepDiver1975 opened #145 "[Azure] logout url requires X-Frame header"
![Screenshot from 2021-03-02 09-57-48](https://user-images.githubusercontent.com/1005065/109623822-d3b4e000-7b3d-11eb-9fb3-5200cfb4cf4f.png)

[2021-03-02 10:57] longsleep commented on #145
This is a strange one - why is azure endpoint trying to embed anything inside an iframe? Sounds like misconfiguration or wrong logout flow.

[2021-03-02 11:33] DeepDiver1975 commented on #145
related to the front channel logout flow - https://openid.net/specs/openid-connect-frontchannel-1_0.html#RPLogout

[2021-03-08 16:28] #104 closed

[2021-03-08 19:15] jdcano-bpe opened #146 "Failing to login with corporate proxy between Owncloud and the IdP"
Hello,

Thanks a lot for all the efforts you are doing with this app for Owncloud, is really useful.

I am having a problem to login using the OpenID app with Azure OpenID cloud. So far, the problem I have is with the proxy configuration. In my case the access to the IDP is outside our network and behind a firewall, therefore, in order to access to the IDP (login.microsoftonline.com) I have to pas

[2021-03-08 19:26] DeepDiver1975 commented on #146
proxy support has not been implemented ...
this is the code block where proxy support can be added by using owncloud's http client which uses the configured proxy
https://github.com/owncloud/openidconnect/blob/e6cb00e6405046e282155b7b3abd7b12f224d2f5/lib/Client.php#L148

[2021-04-16 13:56] T0mWz opened #149 "[FR] Auto provisioning of user based on a claim"
For the Dutch Sync-And-Share service, we requires an specific OpenID Connect claim on which basis we do auto provisioning of a user. See also; https://wiki.surfnet.nl/display/surfconextdev/Attributes+in+SURFconext#AttributesinSURFconext-eduPersonEntitlementEntitlements

Example result what we could receive from an IdP.
[code]

This would require a check for a specific claim with corresponding valu

[2021-04-23 15:54] max-1004 commented on #133
Together with Christian Scherm and Erik Neubauer, I checked and changed the configuration.
After the configuration changes, we finally got a 301 back with a curl -I https://owncloud.widas.de/.well-known/openid-configuration and no longer a 404.
![Bildschirmfoto von 2021-04-23 17-19-21](https://user-images.githubusercontent.com/74765918/115896528-cfc97e00-a45b-11eb-8b59-65a7098b54a2.png)
Here is a

[2021-04-29 09:53] #128 closed

[2021-04-29 09:55] #141 closed

[2021-04-29 09:58] DeepDiver1975 commented on #134
same site cookies can now be configured https://github.com/owncloud/core/pull/38458

[2021-04-29 09:58] #134 closed

[2021-04-29 09:59] DeepDiver1975 commented on #135
you are simply missing to run occ upgrade - unrelated to openidconnect -> close

[2021-04-29 09:59] #135 closed

[2021-04-29 10:02] DeepDiver1975 commented on #138
The expectation is that the user info have a claim named 'picture' (or whatever it is .... that's why it can be configured)
The value in the claim has to be a url - see https://connect2id.com/products/server/docs/api/userinfo

So this is basically wrong usage .... nevertheless the code base shall not :boom:

[2021-04-29 10:04] DeepDiver1975 commented on #139
You also need to verify that the user info (in case of Azure this is within the access token which is a JWT) actually holds a claim named 'fullname'.
If named different -> change config
If claim is missing -> change Azure config

[2021-04-29 10:04] DeepDiver1975 commented on #139
closing for now - not a bug

[2021-04-29 10:04] #139 closed

[2021-04-29 10:05] DeepDiver1975 commented on #142
I am closing this in here - there is not much we can do within our openidconnect app

[2021-04-29 10:05] #142 closed

[2021-04-29 10:37] mmattel commented on #139
need to ask, ist this something that could be supported/clarified via a docs improvement?
(beside reading the oidc specs of course ...)

[2021-04-29 12:21] DeepDiver1975 commented on #139
not from my understanding - somebody configuring openid connect should understand basic concepts.
it is clear what a claim is claim is and this is straight forward.

to me this is like: shall we explain that 1 + 1 = 2? - No - get a Math book and read things up there ;-)

[2021-04-30 19:01] IljaN opened #154 "Use random bytes to generate userId and password in auto-provisioning"
uniqid could be predictable. https://www.php.net/manual/de/function.uniqid.php

[2021-04-30 23:37] #154 closed

[2021-05-06 09:36] #149 closed

[2021-05-06 14:23] michaelstingl commented on #125
@longsleep we want to switch desktop redirect URI from localhost to 127.0.0.1 (https://github.com/owncloud/client/pull/8593) as recommended in `RFC 8252`, but this is what we get:

[code]

More information:

- https://tools.ietf.org/html/rfc8252#section-7.3
- https://tools.ietf.org/html/rfc8252#section-8.3
- https://docs.microsoft.com/en-us/azure/active-directory/develop/reply-url#prefer-127001-ov

[2021-05-06 14:31] longsleep commented on #125
@michaelstingl this has been fixed in https://github.com/Kopano-dev/konnect/commit/3e79432a63f75135eb373490c504d2c8d9a7c96c - there was no release which included that fix yet, thus i just tagged v0.34.0.

[2021-05-06 14:52] michaelstingl commented on #125
@longsleep very nice!! Thanks 👍

[2021-05-17 11:32] IljaN opened #157 "Unable to determine state after update to php 7.4"
After upgrading to php 7.4 some users are experiencing the following error on login. After removing the oauth query params from the url in the address-bar of the browser and pressing enter the user is successfully logged-in.
[code]

[2021-05-17 11:51] DeepDiver1975 commented on #157
Same site cookie issue. Long known.
Please have a look at config.php to change the cookie setting

[2021-05-17 11:51] #157 closed

[2021-05-17 12:00] IljaN commented on #157
https://github.com/owncloud/core/blob/d1f0c43d61a2583fdf0f457bb07ea49de100d89a/config/config.sample.php#L273

[2021-05-17 12:30] mmattel commented on #157
Is there something where we can improve the docs based on content in the logs making the issue more identifyable?

[2021-05-17 13:01] DeepDiver1975 commented on #157
Afaik we have this already covered ... But people don't read ..... 🙈

[2021-05-17 13:09] IljaN commented on #157
This issue happened on a upgrade from php 7.2 to 7.4 so not sure how we handle that docs wise.

[2021-05-24 07:07] mstilkerich opened #158 "Bearer authentication for CardDAV API with external auth server"
Hello,

  I would like to use bearer authentication in the CardDAV API of owncloud. I have a keycloak authorization server that owncloud is connected to via this app. Login to the web interface of owncloud works fine. The DAV server advertises bearer authentication, but rejects the token for most requests.

I have an example log from a CardDAV addressbook discovery:

![Screenshot_20210524_085622](

[2021-05-31 13:25] T0mWz opened #159 "Support multiple languages for notifications"
For the Dutch Sync-And-Share service, we requires a specific OpenID Connect claim on which basis we do auto provisioning of a user. When a new user try to login which does not have the required attribute, this user will now get an error message like; `Required provisioning claim is not defined.` (see: https://github.com/owncloud/openidconnect/blob/master/lib/Service/AutoProvisioningService.php#L97

[2021-05-31 13:38] T0mWz opened #160 "[FR] Return HTML templates instead of (Login)Exception(s)"
When a user is currently not able to login, an exception is thrown. However, with use of HTML templates it's possible to return more detailed error page. Maybe with info where the can ask for support etc.

[2021-06-06 00:39] jerrac commented on #157
I did not find any mention of needing to change the `http.cookie.samesite` setting to `None` here: https://doc.owncloud.com/server/10.7/admin_manual/configuration/user/oidc/ or here: https://doc.owncloud.com/server/10.7/admin_manual/configuration/server/config_apps_sample_php_parameters.html#app-openid-connect-oidc or in this repo's readme.

It took weeks of off and on searching before I stumbled

[2021-06-24 13:33] butonic opened #163 "[FR] Auto provisioning of LDAP user based on a claim"
The current instance uses LDAP accounts. When enabling openidconnect we can configure `auto-provision` in the config.php, but that will always create Database accounts.

The shibboleth app tries to find a user in other user backends with the configured claims. The openidconnect app should be able to do the same to get rid of the additional occ user sync step, which has to be triggered in the right

[2021-07-07 10:13] sidgangs99 opened #165 "Error decoding JSON from token header"
# Referred Thread: https://github.com/owncloud/openidconnect/issues/17

But was not able to resolve my issue.

### While implementing node-oidc provider, the auth workflow is implemented but at the last step, it displays error:
[code]
## Trace
[code]
## Node-oidc Provider Conf:
[code]
### Is this a bug ?

[2021-07-07 15:30] DeepDiver1975 commented on #165
What does the token look like?

[2021-07-09 09:30] PaulaFernandez commented on #165
I am having what I think are similar problems trying to use Google OpenID.

My configuration is:

[code]

And the error I am getting originates in line 122 in OpenIDConnectClient.php

[code]

and following that:

**Google accessToken is not a JWT and hence it cannot be decoded.**

I saw it the documentation that if the access token is not a JWT token we could use:

but I have no idea what those va

[2021-07-13 09:30] PaulaFernandez opened #166 "[FR] Support for Google OpenID."
I am unable to set up Google auth via OpenID.

My configuration is:

[code]

And the error I am getting originates in line 122 in SessionVerifier.php

[code]

I believe the problem in my case is that **Google accessToken is not a JWT and hence it cannot be decoded.** It has no headers and verifyJWTsignature throws an error.

I saw it the documentation that if the access token is not a JWT token we

[2021-07-13 10:13] DeepDiver1975 commented on #166
the owncloud server acts as rely party in the scenario where the clients are connecting to the server.
in this scenario no id token is available.

please note that google is not supported as idp at the moment.

this requires deeper analysis to see how this can be accomplished

[2021-07-13 14:50] PaulaFernandez commented on #166
Thanks for your reply, knowing that Google is not supported, I'll stop struggling and settle for standard user/password login.

[2021-07-21 14:08] hurradieweltgehtunter opened #168 "Release openidconnect 2.1.0"
### Reason

#148 [Security] Bump phpseclib/phpseclib from 2.0.29 to 2.0.31
#150 [Enhancement] AutoProvisioning based on a Provisioning Claim
#151 [Enhancement] Autoprovisionining based on claim
#155 [Bugfix] Use random_bytes for uid and password generation
#167 [Enhancement] Add db as additional settings storage backend

Release is required (mainly because of #167 ) for use in ownCloud Online.

##

[2021-07-22 08:43] jnweiger commented on #168
Testplan draft: https://github.com/owncloud/openidconnect/issues/132
Please ping me for additions, I'll make a niche testplan from that.

[2021-07-22 16:21] hurradieweltgehtunter commented on #168
@jnweiger Testplan needs the following additions regarding #167
For other PR's we need to ask PR creators
@IljaN @T0mWz @DeepDiver1975 could you please give information about PR's #148 #150 #151 #155 ?

# Add no settings at all
- Enable app
- Test login

## Expected behaviour
App fails the same way as previous release

# Add no settings to DB
- Add valid settings to config.php (default way, not al

[2021-07-30 10:56] jnweiger commented on #168
@hurradieweltgehtunter can you provide test instances fro the above issues?

[2021-08-02 08:30] hurradieweltgehtunter commented on #168
I don't have access to set up public instances, Sorry.

[2021-08-09 07:19] thommierother opened #172 "Error messages should be more informative"
Error messages based on curl commands should display the actual curl target URL. This helps in debugging a oidc setup. See https://central.owncloud.org/t/10-8-oidc-openidconnect-curl-error-self-signed-certificate-in-certificate-chain/33425/6 for reference
![Screenshot_20210806_202010](https://user-images.githubusercontent.com/6594120/128671463-c278853d-478b-40a7-b47b-b8fbc322aeae.png)

[2021-08-09 17:40] thommierother opened #173 "json not delivered on index.php/apps/openidconnect/config"
On a freshly set-up 10.8 I can not get any OIDC config json. A curl request is answered with

< HTTP/1.1 200 OK

but the reply is empty. And even on log level 0 there is no error visible in the owncloud.log .
The test system:

curl -v https://owncloud2.netzwissen.de/index.php/apps/openidconnect/config -H "Accept: application/json"

How can I debug this?

[2021-08-09 18:25] DeepDiver1975 commented on #173
If the connected IdP is not exposing and openid-configuration - we are not doing either .....

please make sure the IdP has an openid-configuration.

[2021-08-16 08:25] thommierother commented on #173
fixed,idp was misconfigured

[2021-08-16 08:25] #173 closed

[2021-08-23 09:42] hurradieweltgehtunter commented on #168
Is this going forward? Anything I can do to speed this up?

[2021-08-23 11:50] michaelstingl commented on #168
No progress. Blocked by other priorities and vacations.

[2021-08-31 12:29] DeepDiver1975 commented on #168
Also an important change in this release which needs to go out - https://github.com/owncloud/openidconnect/pull/130

[2021-09-10 14:37] T0mWz commented on #168
@jnweiger what information is required for #150 #151 ?
had described this little bit in issue https://github.com/owncloud/openidconnect/issues/149, but maybe it's to short or more info required. Please let me know, you can also find me on Rocket Chat. 😃

[2021-09-14 08:16] jnweiger opened #178 "[QA] 2.1.0 Testplan"

[2021-09-14 08:28] jnweiger opened #179 "[QA] 2.1.0 Testplan"
## Setup

Test instances:

* https://oc1080-oidc-200-20210915.jw-qa.owncloud.works (with kopano IDP, for comparison with released version 2.0.0)
   - users: admin/admin, aaliyah abernathy/secret
* https://oc1080-oidc-210rc2-20211110.jw-qa.owncloud.works (with kopano IDP and PR #183)
   - users: admin/admin, aaliyah abernathy/secret

<details>
<summary>Setup details (click to view)</summary>

Autom

[2021-09-14 08:29] #178 closed

[2021-09-14 08:49] jnweiger commented on #168
RC1 created: https://github.com/owncloud/openidconnect/releases/download/v2.1.0-rc1/openidconnect-2.1.0-rc1.tar.gz

[2021-09-14 09:32] DeepDiver1975 commented on #168
Most recent tests with openidconnect app (git master) have shown that PKCE is not properly working.
Upstream fix is pending at the moment: https://github.com/jumbojett/OpenID-Connect-PHP/pull/273

Affected IdPs: any who supports PKCE or enforces it.

[2021-09-14 22:42] jnweiger opened #181 "[QA] openidconnect no longer works with the kopano IDP"
Seen with openidconnect 2.1.0-rc1 on core 10.8.0

Started in compose-plaground/compose via `docker-compose     -f owncloud-base.yml     -f owncloud-official.yml     -f cache/redis.yml     -f database/mariadb.yml     -f ldap/openldap.yml     -f ldap/openldap-mount-ldif.yml     -f owncloud-exported-ports.yml     -f ldap/openldap-autoconfig-base.yml     -f kopano/konnect/docker-compose.yml `

When lo

[2021-09-14 22:44] jnweiger commented on #181
An identical setup with openidconnect-2.0.0 works flawlessly without code_challenge_methods_supported in the openid-configuation.

[2021-09-14 22:57] jnweiger commented on #181
Workaround:
 Patch vendor/jumbojett/openid-connect-php/src/OpenIDConnectClient.php to default to 'S256':

[code]

Now kopano IDP can log in its LDAP users.

[2021-09-14 23:01] jnweiger commented on #168
## Issues opened while testing
* [ ] https://github.com/owncloud/openidconnect/issues/181

[2021-09-15 01:03] jnweiger commented on #136
I'll drop this odd test item from the plan. I agree it is acceptable behaviour, also for desktop.

[2021-09-15 01:03] #136 closed

[2021-09-15 01:18] jnweiger commented on #179
## changelog testing
* [ ] #148 [Security] Bump phpseclib/phpseclib from 2.0.29 to 2.0.31
* [ ] #150 [Enhancement] AutoProvisioning based on a Provisioning Claim
* [ ] #151 [Enhancement] Autoprovisionining based on claim
* [ ] #155 [Bugfix] Use random_bytes for uid and password generation
* [ ] #167 [Enhancement] Add db as additional settings storage backend

[2021-09-15 01:44] jnweiger opened #182 "[QA] token renewal after 10 min fails"
Seen with openidconnect 2.1.0-rc1 against kopano IDP

* connect with testpilotcloud-client 2.9.0 -- using a kopano user
* oidc authenticates via web browser
* wait 10 minutes
* after ca 10 Minutes the browser re-opens, the client waits for re-login

Expected behaviour: the auth token refreshes, without user interaction.

[testpilotcloud-logdir.zip](https://github.com/owncloud/openidconnect/files/7

[2021-09-15 04:48] DeepDiver1975 commented on #182
More something for the client team to look into.
Refreshing the token is a flow between client and idp.

[2021-09-15 05:24] DeepDiver1975 commented on #181
https://github.com/owncloud/openidconnect/pull/170 fixes this

[2021-09-15 13:12] michaelstingl commented on #182
Desktop client tries to register 2x without success:

[code]

[code]

3 Minutes later it falls back to builtin client ID `xdXOt13JKxym1B1QcEncf2XDkLAexMBFwiT9j6EfhhHFJhs2KM9jbjTmf8JBXE69`:

[code]

At renewal, desktop sync client tries to register again 2x without success:

[code]

[code]

3 Minutes later it falls back to builtin client ID again `xdXOt13JKxym1B1QcEncf2XDkLAexMBFwiT9j6EfhhHFJhs2KM9

[2021-09-15 13:17] DeepDiver1975 commented on #182
Please transfer this to the client repo - it is unrelated to the openidconnect app. THX

[2021-09-16 09:20] wkloucek commented on #181
#170 breaks my setup with Keycloak:

![image](https://user-images.githubusercontent.com/34452982/133586038-c0c10fa3-9595-4a46-9820-f522d6afb392.png)

openidconnect app config:
[code]

Keycloak client:
[code]

@DeepDiver1975 do you have an idea?

[2021-09-16 09:23] wkloucek commented on #181
Logs:
[code]

[2021-09-16 10:28] DeepDiver1975 commented on #181
Current 2.1.0 does support PKCE - but PKCE is broken for some setups due to upstream bugs.

@wkloucek grab master branch of this app if possible or wait for next rc ...

@jnweiger we should incorporate this PR into 2.1.0 - https://github.com/owncloud/openidconnect/pull/183 - THX

[2021-09-16 13:38] #181 closed

[2021-09-18 19:42] longsleep commented on #182
This has been relaxed in February - see https://github.com/libregraph/lico/commit/3e79432a63f75135eb373490c504d2c8d9a7c96c (this commit is also released as part of Konnect v0.34.0). Please make sure to use the current version and it should be fine @michaelstingl

[2021-09-18 22:53] jnweiger commented on #182
@longsleep That is good news. Thank you!

We use docker for this test. I believe the docker image needs a gentle nudge.
[code]

latest points to kopano/kopano_konnect:0.33 -- there is no kopano/kopano_konnect:0.34 at dockerhub.

[2021-10-12 12:58] milkydan opened #187 "Update user information during logging in"
We are using openidconnect app in CESNET ownCloud instance. We found out, that the current version does not update user information (such as preferred email) provided by IdP.  It updates preferred email only during creating a new user. Is it possible to support this workflow in a future release op openidconnect app?  Thanks.

[2021-10-22 22:10] Xman176 opened #188 "Login exception: protected function"
Hi,

we want to create data server and as login we using openID where provider is KeyCloak. We seted keycloak to another services on the server, but we have problem with owncloud.
We using a auto-provisioning, where after first login (registration) is create user in owncloud database, but it not login and stop with internal server error.

Here is a error from log file:

`{"reqId":"KH54CwjtQ5jXHE0q

[2021-10-23 18:43] #188 closed, assigned to nobody

[2021-10-31 21:39] jnweiger commented on #168
RC2 built. It includes the fix for #181

[2021-11-03 17:26] jnweiger commented on #179
## Test Plan for #167

* [ ]  Add no settings at all
   - [ ] Enable app. Test login
   - [ ] Expected behaviour: App fails the same way as previous release
* [ ] Add no settings to DB
   - [ ] Add valid settings to config.php (default way, not altered)
   - [ ] Remove any existing config settings in DB
   - [ ] Enable app. Test login
   - [ ] Expected behaviour: Login should work
* [ ] Add invali

[2021-11-03 18:08] jnweiger opened #191 "empty json array in db leads to error, although a valid fallback is present in config.php"
Seen with openidconnect v2.1.0-rc2

* have a valid config.php `openidconnect` section, e.g. created via `make_openidconnect_test.sh`
* `insert into oc_appconfig set appid='openidconnect', configkey='openid-connect', configvalue='';`
* refresh the login screen, the additional login button (Kopano) is there. Click.
* login works.
* `update oc_appconfig set configvalue='{}' where configkey='openid-co

[2021-11-11 00:33] dschmidt commented on #165
If I interpret the README of node-oidc correctly, it implements the token introspection endpoint. (c.f. https://github.com/panva/node-oidc-provider/blob/72d6ca639340c9a9868bf07b65d80f029c52d1bb/README.md?plain=1#L28)

Check if `introspection_endpoint` is provided in `.well-known/openid-configuration` and if not if it either needs to be enabled or you just need to add that key+value to your configu

[2021-11-11 00:37] dschmidt commented on #165
... and you also need to explicitly enable using of the introspection endpoint:
[code]

[2021-11-12 01:31] jnweiger commented on #168
RC2 passed changelog tests and server/desktop regression tests.
Android & iOS: TODO

[2021-11-16 11:23] jesmrec commented on #179
@jnweiger no objections from my side. Regular uses cases working fine, and known restrictions are still there, but no blockers.

[2021-11-17 10:46] #179 closed

[2021-11-17 14:23] #168 closed

[2021-11-19 09:59] matutter opened #194 "`auto-provision` does not create database account when enabled."
Like the title says. I have a OIDC provider (KeyCloak) and OwnCloud configured but when I login via OIDC the account does not get created in OwnCloud.

[code]

OwnCloud login page after redirect from KeyCloak just displayed the text `User with dummyuser is not known.`.

![dummyuser](https://user-images.githubusercontent.com/2701379/142603591-df7b6587-4bc3-4301-ae20-5a3d81422abf.png)

`occ` confirm

[2021-11-19 10:20] DeepDiver1975 commented on #194
Please set the mode to userid (email is default but no email attribute is provided) - https://github.com/owncloud/openidconnect#all-configuration-values-explained

[2021-11-19 15:50] matutter commented on #194
@DeepDiver1975 Thanks for the reply. That definitely changes something however the user is not created in the DB.

![dummyuser_2](https://user-images.githubusercontent.com/2701379/142649936-81b512f1-551e-4f65-b124-b90b666039a3.png)

[2021-11-19 17:21] matutter commented on #194
After some debugging - it just appears that the `enabled()` check returns false [lib/Service/UserLookupService.php#L92](https://github.com/owncloud/openidconnect/blob/80a40e1ff91e979f53561a0bf1a94e8c217fb178/lib/Service/UserLookupService.php#L92).

[code]

But `occ config:app:get` shows this ...

[code]

( I haven't written PHP in about 7 years - sorry if I'm using the wrong terms )

[2021-11-19 17:55] matutter commented on #194
I was able to solve the problem by editing the `config.php` with the exact settings used with `occ`.

[2021-12-16 13:56] stijnbrouwers opened #196 "How to connect clients when IDP doesn't allow custom clientId's"
I have done the complete setup for OpenID Connect to my IDP (AWS Cognito) which works like a charm when logging in with the browser.
I also setup service discovery as described in the documentation: https://doc.owncloud.com/server/next/admin_manual/configuration/user/oidc/oidc.html#set-up-service-discovery
When using the mobile app or Desktop app, they successfully discover OpenID is enabled and o

[2021-12-16 14:14] DeepDiver1975 commented on #196
One option is to use dynamic client registration which is partially available already on the individual clients.
If this is not possible you would need to build your own clients to get your specific client id/ secret into these clients.
Not the most convenient approach but no other option :shrug:

[2021-12-16 14:14] #196 closed

[2021-12-16 15:18] stijnbrouwers commented on #196
@DeepDiver1975

Thanks for your quick response!
Option 1: I understand. It's a feature that some IDP's provide (which is not the case for AWS if I'm not mistaking). The OwnCloud features support it and if my IDP should provide it, it would work "automatically".
Option 2: I'm not sure I understand. Do you mean: You can't use the official clients and need to build your own iOS, Android, Desktop apps

[2021-12-16 16:08] DeepDiver1975 commented on #196
yes

As of today client id and secret are compiled into the code base of desktop client and the mobile apps. So if you cannot use dynamic client registration or the hard coded "default" credential you are doomed to recompile the clients yourself. This is then classic open source business - get the code and compile yourself ;-)

For enterprise customers this is something which is handled within the

[2021-12-16 16:11] stijnbrouwers commented on #196
Ah ok, that's actually extremely stupid of me not to think of this solution :-)

I think it's acceptable since I know you can set your own download links for the clients through the config.php file.
This way we can point to the custom compiled versions with our credentials.

Thanks for your help!

[2021-12-22 13:39] stijnbrouwers commented on #194
I encountered the exact same issue.
When setting the "auto-provision"-property in the database, it is not taken into account by the AutoProvisioningService.
I fixed this by refactoring the 'getOpenIdConfiguration'-method to resemble the 'getOpenIdConfig'-method in Client.php

[2021-12-23 08:22] #194 closed

[2022-01-07 08:33] DeepDiver1975 commented on #191
For me this is a miss configuration which shall be handled by the admin.

If the app config is present it must be reasonable - an empty json object is not a reasonable config.

[2022-01-31 10:24] stefanost67 opened #202 "provisioning-claim and provisioning-attribute not documented"
We see that the provisioning-claim and provisioning-attribute configuration sub-keys are not documented.
We need them in order to allow access only to members of certain groups.

Are you going to maintain and document the usage of these keys?

[2022-01-31 12:08] michaelstingl commented on #202
@mmattel @EParzefall FYI

[2022-01-31 12:36] stefanost67 commented on #202
We also noticed that, if we use something like:

               'provisioning-attribute' => 'my_group',
               'provisioning-claim' => 'groups'

users are still given access if they leave my_group

Do you have any policy regarding this?

[2022-02-02 15:29] IljaN commented on #202
@stefanost67 Those claims are part of "auto-provisioning": i.e. if the ownCloud sees the user coming from the IDP for the first time the user is provisioned in ownCloud. If the claim is removed user still exists in ownCloud and thus is able to login.

[2022-02-02 15:37] stefanost67 commented on #202
Ok, thanks for the information.
What about supporting the provisioning attribute and claim keys? Can they be used in production?

[2022-02-02 15:40] IljaN commented on #202
Yes, they are already used in production by some users. We will document them asap. Will post a link here to preliminary documentation.

[2022-02-02 15:52] IljaN commented on #202
Found an existing docs-issue here: https://github.com/owncloud/docs/issues/3502

Is more input needed?

[2022-02-02 15:59] stefanost67 commented on #202
This is exactly our use case. We are able to use these feature, including using the groups claim in order to limit access only to a subset of users, so our questions are answered.
What we wanted to make sure is that these features will be supported in the future and can be used in production environments, without having to worry about them disappearing in future versions of the plugin.

[2022-02-02 16:19] IljaN commented on #202
@mmattel Edited the [top-post](https://github.com/owncloud/docs/issues/3502) here to make it more clear.

[2022-02-03 13:27] #202 closed

[2022-02-07 14:39] tryton-vanmeer opened #203 "Public Link Uploads Fail for Anonymous Users"
When creating and sharing a public link, an anonymous user is unable to upload any files.

If I disable the openidconnect app then uploading as an anonymous user works.

I've attached a log file with the exception that occurs when performing the steps below.

[owncloud.log](https://github.com/owncloud/openidconnect/files/8015927/owncloud.log)

# Steps to Reproduce

1. In OwnCloud, select a folder

[2022-02-08 02:14] matutter opened #204 "Desktop client OIDC Login just logs users into webpage"
I run an ownCloud instance on an intranet at work. ownCloud is setup behind a reverse proxy for SSL and we're using a self-signed certificate. It's setup to do OIDC logins with a KeyCloak instance. Using the web-login works fine. However we recently tried using the desktop client and found that our configuration doesn't work and the desktop client just gets stuck on a "Please switch to your browse

[2022-02-08 08:40] mmattel commented on #204
@michaelstingl fyi, maybe you can take a look on it
@matutter please also see at https://central.owncloud.org which is our community portal

[2022-02-08 14:18] matutter commented on #204
Thanks. I've searched the community portal - there are some posts that are close to this problem and mention a solution but they don't actual *have* the solution in the thread ( ref. https://central.owncloud.org/t/solved-openid-and-desktop-client-app/33093 ).

FWIW - my KeyCloak config is identical to https://github.com/owncloud/ocis/blob/master/deployments/examples/ocis_keycloak/config/keycloak/c

[2022-02-08 14:34] DeepDiver1975 commented on #204
refs https://github.com/owncloud/openidconnect/issues/196#issuecomment-995855023

[2022-02-18 15:42] #203 closed

[2022-02-18 16:58] IljaN opened #208 "Release Openidconnect 2.1.1"
### Reason

- Fix https://github.com/owncloud/openidconnect/issues/203 https://github.com/owncloud/openidconnect/pull/195
- Fix https://github.com/owncloud/openidconnect/pull/200
- Regular Maintenance (Library updates)

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncl

[2022-02-22 18:28] IljaN commented on #208
[code]

[2022-02-23 08:55] stijnbrouwers commented on #208
This release should also include the fix for #194, right?

[2022-02-25 18:42] jnweiger opened #210 "[QA] 2.1.1 Testplan"
## Setup

<details>
<summary>Setup details (click to view)</summary>

Automated setup script: https://github.com/owncloud/QA/tools/hetzner-deploy/deploy_openidconnect_test.sh
 - https://oc1091-oidc-211rc1-20220228.jw-qa.owncloud.works/ (connected to Kopano)
 - https://oc1091-oidc-210-20220228.jw-qa.owncloud.works (upgraded from 2.1.0 to 2.1.1-rc1 and connected to Azure)

Template: https://github.c

[2022-02-27 20:20] dorianim opened #211 "Allow to change autodiscovery URL"
Hi!

I'd like to use [authentik](https://goauthentik.io) as an authentication provider. However, their autodiscovery URL is in an application specific subpath (eg.: `/application/o/owncloud/.well-known/openid-configuration`) see: https://goauthentik.io/docs/providers/oauth2

Is it possible to make owncloud use that path instead of the default one?

Regards,
Dorian

[2022-02-27 20:22] dorianim commented on #211
Looks like, it is hardcoded over here:
https://github.com/owncloud/openidconnect/blob/9a56138c0df3edeb328a6f373060c17f4b060a66/lib/Client.php#L118

Would it be possible to add a config option to change it just like any other url?

[2022-02-27 20:48] dorianim commented on #211
Nevermind, slved it by setting the provider URL to `https://example.com/application/o/cloud/`

[2022-02-27 20:48] #211 closed

[2022-02-28 15:46] jnweiger opened #212 "[QA] username and password fields are not forwarded to kopano"
seen while testing 2.1.1 - but not a regression, same with earlier versions

* admin enters his username and password in the owncloud login page.
* admin hits the 'Login' button, login succeeds.
---
* ldap user enters his username and password in the owncloud login page.
* ldap user hits the 'Kopano' button, his credentials are wiped out. BAD.
* he has to enter them again. then the login succeeds

[2022-02-28 15:49] DeepDiver1975 commented on #212
totally unrelated to openidconnect -  if at all this is something to take care in code -> moving

[2022-02-28 15:52] jnweiger commented on #208
Issues seen while testing
* [ ] https://github.com/owncloud/openidconnect/issues/212
* [ ]

[2022-02-28 16:16] jnweiger commented on #203
Confirmed fixed in 2.1.1-rc1

[2022-02-28 16:29] jnweiger commented on #210
## Changelog Testing
* [ ] https://github.com/owncloud/openidconnect/issues/203
   - error reproduced with 2.1.0 and same 'can only be accessed once if not application' error in the log.
   - upload succeeds without errors logged in 2.1.1-rc1 with file drop and normal write permission.
* [ ] https://github.com/owncloud/openidconnect/pull/200

[2022-03-02 18:32] jnweiger opened #213 "[QA] complicated recovery after error messges"
Seen with openidconnect 2.1.1 RC1 and openidconnect 2.1.0 on core 10.9.1

While testing different IDPs and differnt modes (autprovisioning, or not, ...)
several error messages happend during login attempts. The errors are correct, but the form they are presented could be improved.
E.g.

![image](https://user-images.githubusercontent.com/1108546/156424808-28e91cc8-ae97-4621-a709-e1a0dfb7af43.png)

[2022-03-03 14:07] jnweiger commented on #213
Example of the lengthy URL:
![image](https://user-images.githubusercontent.com/1108546/156580628-d597d7ce-836c-4f05-87e8-9a1d36a1f9b6.png)

[2022-03-03 14:20] jnweiger opened #214 "[QA] Allow ownCloud step is missing when using Azure"
Seen in 2.1.1.-rc1 (not yet tested with 2.1.0)

* user clocks the Azure (oidc) button, and authenticates with Microsoft.
![image](https://user-images.githubusercontent.com/1108546/156582528-208d58d0-48f4-4d3d-b354-e53e1232216a.png)
----
* Microsoft pops up another 'stay signed in' dialog -> choose any.
![image](https://user-images.githubusercontent.com/1108546/156582690-a95178fb-223b-451c-af73-088

[2022-03-03 14:26] DeepDiver1975 commented on #214
different idps have different behavior aka look into config options of the idp. not in control of owncloud -> close

[2022-03-03 14:26] #214 closed

[2022-03-03 14:40] voroyam commented on #203
@jnweiger is there an ETA of the 2.1.1?

[2022-03-03 14:41] voroyam commented on #203
ah, sorry. got it from here. is the target still in reach?

https://github.com/owncloud/enterprise/issues/5024#issuecomment-1051097172

[code]

[2022-03-03 15:29] jnweiger commented on #214
There is a "onstent", with a consent name "ownCloud" configured:

![image](https://user-images.githubusercontent.com/1108546/156595968-745055b9-8482-4090-bb4d-f0a9ceea0ee3.png)

I cannot decide, if this is not showing due to a misconfiguration on my behalf, due to a bug in our code, or if this is normal behaviour.

[2022-03-09 16:53] jesmrec commented on #210
From my side this is OK, basic authentication flows work fine in both Android and iOS.

As reminder, there are two features that are not available (at least) in mobile clients: token renewal and logout. These are not regressions, it's todo.

[2022-03-10 07:49] mmattel commented on #208
With this upcoming release, is there anything docs relevant?

[2022-03-10 10:34] jnweiger commented on #210
Release done.

[2022-03-10 10:34] #210 closed

[2022-03-10 15:49] rizlas opened #217 "Wrong assumption about access token as JWT"
Hi,
we encountered issue by enabling OIDC with auto-provisioning. We identified the source of the problem this part of your code

https://github.com/owncloud/openidconnect/blob/master/lib/SessionVerifier.php#L122

You assume that accessToken is JWT while according to OIDC specification accessToken could be an arbitrary string.
This significantly limits the number of providers usable with the modul

[2022-03-10 15:51] DeepDiver1975 commented on #217
In this case you need to provide the use-token-introspection-endpoint - please read about it in README.

[2022-03-10 15:51] #217 closed

[2022-03-10 15:55] DeepDiver1975 commented on #35
solved by setting the samesite cookie options in config.php

[2022-03-10 15:55] #35 closed, assigned to nobody

[2022-03-10 15:55] #101 closed

[2022-03-10 15:56] DeepDiver1975 commented on #133
closing under the assumption that this is solved by now

[2022-03-10 15:56] #133 closed

[2022-03-10 16:01] #165 closed

[2022-03-11 06:20] tbs575 opened #218 "PKCE code error"
I am not sure what's wrong. please help , thanks
* using keycloak with ssl provide openid service, I login owncloud for the first time and meet error 'Error in OpenIdConnect:PKCE code verifier not specified' and check owncloud log (please see follow information).

[code]
* and I login for the second time, that's OK, I can saw file in owncloud server.  but when I logout from owncloud, try login aga

[2022-03-11 06:28] DeepDiver1975 commented on #218
You need to change the same site cookie setting im config.php. please check readme

[2022-03-11 06:28] #218 closed

[2022-03-11 06:39] tbs575 commented on #218
@DeepDiver1975 thanks, as I use docker's owncloud, so I set enviroment `OWNCLOUD_HTTP_COOKIE_SAMESITE: 'None' `, but still met issue

[2022-03-11 06:44] tbs575 commented on #218
thanks, as I use docker's owncloud, so I set enviroment OWNCLOUD_HTTP_COOKIE_SAMESITE: 'None' , but still met issue

[2022-03-11 07:01] tbs575 opened #219 "PKCE error with cookie.samesite"
https://github.com/owncloud/openidconnect/issues/218#issue-1166047800
as using docker owncloud, so add one more config file

[code]
but still PKCE error

[2022-03-11 07:25] DeepDiver1975 commented on #219
after changing the cookie settings it is absolutly necesssary to ensure that the existing sessions are gone:
- kill all browsers
- kill all sessions server side

[2022-03-11 07:25] #219 closed

[2022-03-11 07:25] DeepDiver1975 commented on #219
(no need to open a new issue - we could continue in the previous one)

[2022-03-11 07:48] tbs575 commented on #219
@DeepDiver1975 thanks your reply, but still error
I restart owncloud service, clean all history data with browser, no working.

if no SSL, can login owncloud with keycloak (openid),

[2022-03-11 07:56] tbs575 commented on #219
@DeepDiver1975 thanks your reply, as you suggestion. and Now, can not login, still error
![image](https://user-images.githubusercontent.com/30616402/157826012-494880e9-e413-48ba-9ee5-124636083593.png)

[2022-03-11 08:20] tbs575 commented on #219
Using SSL just for owncloud desktop, it seemed owncloud desktop client did not support  http protocol.

[2022-03-18 01:54] tbs575 opened #221 "PKCE issue."
Guys, I setup openid auth by keycloak, met strange thing, in http protocol, all working find with login auth, but in https protocol, met PKCE error in first login time (can see more detail, https://github.com/owncloud/openidconnect/issues/219).

I capture network package, the package is same method except protocol
[code]
found `code_challenge_method=S256`, it is made PKCE issue?

and I checked `[/

[2022-03-29 02:48] tbs575 commented on #221
Did more testing, found root cause. owncloud and keycloak keeped same protocal, like http or https. otherwise , will met strange problem.
My owncloud enviroment, using openid auth by keycloak. if using different protocol, like owncloud using http, keycloak using https, then met strange issue (PKCE). likewise, keycloak using http, owncloud using https still met issue.

[2022-03-29 02:48] #221 closed

[2022-04-21 10:50] NopeNix commented on #166
luckily i just found this here, i'm trying since two hours, will also stop it now.

Suggestion: maybe it is worth mentioning somewhere in the readme that google oidc is not compatible right now, i think that many other are also just trying to get azure or google oidc to work so they could save there time?

[2022-04-29 10:38] vincentbernaud opened #225 "Wrong principals URI causes caldav failure when using access tokens"
Hi,

While trying to setup caldav access using oidc access token, I got the following error :
[code]

After some debugging I found that the principals parameter in [EventHandler.php](https://github.com/owncloud/openidconnect/blob/8b131bb2c096f9600dd6de887ba2759c64234c02/lib/EventHandler.php#L82) is set to `/principals` when the default in [OpenIdSabreAuthBackend.php](https://github.com/owncloud/op

[2022-04-29 15:05] DeepDiver1975 commented on #225
Nice catch!

Feel free to open a pull request - THX

[2022-05-03 07:21] #225 closed

[2022-05-17 09:36] #208 closed

[2022-05-17 10:29] felix-schwarz commented on #142
@longsleep After @mmattel brought up this issue with me again, I did a quick research in the konnect code and ended up at this line: https://github.com/Kopano-dev/konnect/blob/master/cmd/konnectd/serve.go#L99

That line suggests to me that konnect now returns `0` for `client_secret_expires_at` by default. Is that correct?

[2022-05-17 11:10] longsleep commented on #142
Yes, see https://github.com/libregraph/lico/commit/08b5f4f0e8521d0839c019a5e9a4c2db580254be for the full change and further expaination. That change got released with Konnect v0.34.0 about a year ago.

[2022-05-17 11:31] felix-schwarz commented on #142
Thanks for the confirmation and link to the commit @longsleep !

[2022-06-03 16:17] d7oc opened #229 "[FR] Optimise bundle for usage with OneLogin"
As documented on https://doc.owncloud.com/server/next/admin_manual/configuration/user/oidc/onelogin-setup.html the OIDC app also works with OneLogin. It just requires `use-access-token-payload-for-user-info` to be set to `false` as the app is somehow unable to get the user information from the access-token.

So this optimisation request is about the research to check why the user information canno

[2022-06-11 12:55] rstefko opened #230 "Does it work with the Encryption Module?"
When I login I get: Invalid private key for Encryption App. Please update your private key password in your personal settings to recover access to your encrypted files.

[2022-06-13 15:26] DeepDiver1975 commented on #230
openid works fine together with encryption.

[2022-06-13 15:26] #230 closed

[2022-06-13 15:27] DeepDiver1975 commented on #230
For general help please reach out to https://central.owncloud.org/

[2022-07-12 14:16] #187 closed

[2022-07-13 11:12] jnweiger opened #240 "[QA] 2.2.0 Testplan"
## Setup

<details>
<summary>Setup details (click to view)</summary>

Automated setup script: github.com/owncloud/QA/tools/hetzner-deploy/make_openidconnect_test.sh
- 159.69.182.145 https://oc10110-oidc220rc6-20221024.jw-qa.owncloud.works
- 167.235.226.62 https://oc1010-oidc220rc6-20221024.jw-qa.owncloud.works
- 49.12.75.160 https://oc1091-oidc220rc6-20221024.jw-qa.owncloud.works
   - login via 'K

[2022-07-13 11:12] jnweiger opened #241 "openidconnect 2.2.0"
### Reason

- PR owncloud/openidconnect#222 fixes owncloud/openidconnect#187
- PR owncloud/openidconnect#247 fixes owncloud/openidconnect#246
- owncloud/openidconnect#272

### Product approval

- [ ] Verify transifex commits are in master: If a folder https://github.com/owncloud/<APPNAME>/tree/master/l10n exists, then https://drone.owncloud.com/owncloud/<APPNAME> should receive nightly '[tx] updat

[2022-07-13 12:07] DeepDiver1975 commented on #241
Please make sure to create the release branch from the correct commit. I merged a bunch of prs which are not for this release.

Thx

[2022-07-13 12:09] DeepDiver1975 commented on #241
Actually this commit should be fine
https://github.com/owncloud/openidconnect/commit/94fcbc37d6a697521a2ffa462f758cda1e2ce154

[2022-07-15 14:41] jnweiger commented on #240
## Changelog testing

* [ ] Test auto-update feature with 10.11, 10.10 and 10.9 - see https://github.com/owncloud/docs-server/pull/524#issuecomment-1181840929

[2022-07-22 10:15] mano87 opened #244 "App access with openid-connect in owncloud"
We use this connector in conjunction with a Keycloak service. The login works very well from the PC.

Is it necessary that a new client with secure and ID is stored in Keycloak for the ownCloud app from iOS or Android? We receive the error message from the Keycloak service that the client was not found.

Is this then identical for all service IDs provided via the Keycloak service?

[2022-07-22 13:33] DeepDiver1975 commented on #244
please find this described in https://doc.owncloud.com/server/next/admin_manual/configuration/user/oidc/oidc.html#owncloud-desktop-and-mobile-clients

in case of further questions: https://central.owncloud.org/

THX

[2022-07-22 13:33] #244 closed

[2022-08-02 15:56] jnweiger commented on #241
Between https://github.com/owncloud/openidconnect/commit/94fcbc37d6a697521a2ffa462f758cda1e2ce154
and head of master, there are only library bumps and compose updates. Nothing worth avoiding. I am puzzled.

From my POV, we can also have https://github.com/owncloud/openidconnect/pull/243 in this release.

[2022-08-05 07:26] andrewyager opened #246 "openidconnect 2.2.0 and Duo SSO/code_challenge_methods_supported"
We've been testing the OIDC 2.2.0 rc1

I have observed the following regression; namely that in the new RC, the following error is thrown in the OwnCloud interface.

The provider code_challenge_methods_supported could not be fetched.

I do note that the Duo OIDC support is still "beta" and we have observed instances of them not fully implementing the OICD specification; however this does work unde

[2022-08-05 08:10] DeepDiver1975 commented on #246
Anything in addition in the ownCloud log ?
Thx

[2022-08-05 08:18] andrewyager commented on #246
Nothing that seems overly useful.  Am running with everything logging enabled at present.

[code]

[2022-08-05 08:20] DeepDiver1975 commented on #246
That is helpful. Thx

Any chance you can share the url of your IDP? Thx

[2022-08-05 08:24] andrewyager commented on #246
Sure - https://sso-5078d358.sso.duosecurity.com/oidc/DIY305725PR9C3NFKP6A is the base URL

[2022-08-05 09:04] DeepDiver1975 commented on #246
Looks like the 3rd party library change is causing this - will fix that. Thanks a lot! :+1:

[2022-08-05 09:05] DeepDiver1975 commented on #241
regression reported: https://github.com/owncloud/openidconnect/issues/246

[2022-08-05 13:17] DeepDiver1975 commented on #246
Previously used library uses
https://github.com/JuliusPC/OpenID-Connect-PHP/blob/9269c42644fb4285a0a55141cc7272bb19d76932/src/Client.php#L1718

Fix come up with a fix for this ....

[2022-08-05 13:26] DeepDiver1975 commented on #246
https://github.com/jumbojett/OpenID-Connect-PHP/pull/317

[2022-08-05 13:27] DeepDiver1975 commented on #246
@andrewyager if I understand the wellknown configuration correctly - duo is not supporting PKCE? Is that true? THX

[2022-08-05 14:18] DeepDiver1975 commented on #241
needs to be incorporated into the next rc https://github.com/owncloud/openidconnect/pull/247 @jnweiger

[2022-08-05 22:29] jnweiger commented on #241
Included in https://github.com/owncloud/openidconnect/releases/tag/v2.2.0-rc.2 - Thanks!

[2022-08-06 05:24] DeepDiver1975 commented on #246
https://github.com/owncloud/openidconnect/releases/tag/v2.2.0-rc.2
@andrewyager

[2022-08-06 05:37] andrewyager commented on #246
Confirmed working now! This does not yet work for app access; but this is a limitation of Duo not yet supporting an offline_access claim which they are in the progress of delivering support for.

[2022-08-06 05:37] #246 closed

[2022-08-06 05:47] andrewyager commented on #246
I've asked Duo about this.

[2022-08-06 09:15] jnweiger opened #248 "[QA] Configured attribute preferred_username is not known"
Seen with 2.2.0-rc.2 on core 10.9.1

* Setup with kopano IDP via https://github.com/owncloud/QA/blob/master/tools/hetzner-deploy/deploy_openidconnect_test.sh
* The OIDC section in config.php is according to https://doc.owncloud.com/server/10.10/admin_manual/configuration/user/oidc/kopano-setup.html#example-config-php
[code]
* log in user aaliyah_abernathy with the Alternative Logins - Kopano butto

[2022-08-06 09:19] jnweiger commented on #248
Same setup with released openidconnect-2.1.0 works fine.

[2022-08-06 09:20] jnweiger commented on #241
## Issues seen while Testing
* [ ] https://github.com/owncloud/openidconnect/issues/248

[2022-08-06 10:07] DeepDiver1975 commented on #248
I have an idea. Definitely a regression. 😱

[2022-08-23 07:33] WYmindsky opened #249 "PKCE code verifier not specified"
openidconnect: 2.1.0
keycloak: 8.0
owncloud: 9.0.1

I can input username and password (all right)
![图片](https://user-images.githubusercontent.com/20678602/186096590-acbc0d65-b9be-4d56-b6a2-ccd3c2abb083.png)

then redirect new url and get error: Error in OpenConnect: PKCE code verifier not specified
![图片](https://user-images.githubusercontent.com/20678602/186096727-611cf937-9ce6-46cc-b484-81d15f015

[2022-08-23 08:12] michaelstingl commented on #249
Duplicate for https://github.com/owncloud/openidconnect/issues/218 ?

[2022-08-23 09:18] WYmindsky commented on #249
i set in config.php, but still error.
'http.cookie.samesite' => 'None'

[2022-09-13 15:47] jnweiger commented on #248
Reproducable in https://oc1091-oidc-220rc2-20220913.jw-qa.owncloud.works/
@DeepDiver1975 you have credentials. Enjoy.

[2022-09-16 07:37] #248 closed

[2022-09-16 19:13] jnweiger commented on #248
Confirmed fixed in openidconnect 2.2.0-rc.3

[2022-09-16 20:16] jnweiger opened #251 "[QA] desktop client does not start oidc flow"
Seen with openidconnect-2.2.0-rc.3 on server 10.11.0-rc.2 using desktop client 2.11.1

* Setup server with kopao idp
* login admin via web ui and normal login button. Works. OK.
* login aaron_beer via web ui and kopano button. Works. OK.
* start desktop client and add the server url.
* The client prompts for username and password. BAD.
* kopano user aaron_beer can log in with his password. Strange

[2022-09-19 19:39] DeepDiver1975 commented on #251
Not working because we send
[code]

which is not understood by the client ....

![Screenshot from 2022-09-19 21-38-46](https://user-images.githubusercontent.com/1005065/191101350-e81d09b2-7ba3-4c45-8c75-e78a0fce1626.png)

[2022-09-22 11:05] #251 closed

[2022-09-27 08:53] DeepDiver1975 opened #254 "Update jumbojett/OpenID-Connect-PHP"
refs https://github.com/jumbojett/OpenID-Connect-PHP/pull/323

[2022-09-27 08:53] DeepDiver1975 commented on #241
include https://github.com/owncloud/openidconnect/issues/254

[2022-09-28 10:53] #254 closed

[2022-09-28 13:46] DeepDiver1975 opened #256 "Setup transifex and stuff"
Needs also translation for the new error message?

<img width="434" alt="image" src="https://user-images.githubusercontent.com/33026403/192777183-a3ebf80f-35c0-42ff-8e65-7e9ab7f99ac4.png">

_Originally posted by @ChrisEdS in https://github.com/owncloud/openidconnect/issues/253#issuecomment-1260822999_

[2022-09-29 14:10] GeraldLeikam commented on #240
@jnweiger Please check your install script

The given urls all had a hyphen between appname and appversion, which is why the urls don't work.

- https://oc10110-oidc-220rc5-20220928.jw-qa.owncloud.works
- https://oc1010-oidc-220rc5-20220928.jw-qa.owncloud.works
- https://oc1091-oidc-220rc5-20220928.jw-qa.owncloud.works

Correct would be:

- https://oc10110-oidc220rc5-20220928.jw-qa.owncloud.works

[2022-10-04 06:09] DeepDiver1975 commented on #229
It is quite "normal" that the user info endpoint is called in the regular OAuth/OpenId-Connect flow to get user information.
Some IdPs use JWT others not.

Not much to do here from my pov.

One additional call should not cause any big distractions. The information as returned by the user info endpoint is cached and this additional call only applies to the login.

[2022-10-04 06:09] #229 closed

[2022-10-04 06:10] DeepDiver1975 commented on #249
Usually this error continues to exist if the session was created BEFORE the cookie setting was changed in ownCloud.
Sessions need to be fully deleted on server side.

[2022-10-04 06:10] #249 closed

[2022-10-04 06:19] DeepDiver1975 commented on #213
core issue.

for anything else: well - this is the pain of integration :shrug:

[2022-10-04 06:20] #213 closed

[2022-10-04 06:24] DeepDiver1975 commented on #172
Exposing such information could be considered an information disclosure and will at least make white hat hackers to know at our door.

Adding the url to the log file sounds reasonable ....

[2022-10-04 07:27] DeepDiver1975 commented on #158
Generally speaking I'd suspect this to work. ownCloud Clients (android, ios, desktop and new web) are accessing dav resources using bearer token as well.

[2022-10-04 07:30] DeepDiver1975 commented on #138
fixed with #222 - which introduced a check if the property holds a string

[2022-10-04 07:31] #172 closed

[2022-10-04 07:38] d7oc commented on #229
We can handle it like this. I just want to outline that the procedure in OneLogin also takes longer compared to e.g. MS Azure AD. And it "feels" longer than a single call. Detecting what exactly causes this delay would have been part of this FR.

[2022-10-04 09:41] jnweiger commented on #213
When user chooses `cancel` at the idp:
![image](https://user-images.githubusercontent.com/1108546/193787621-d783ca9f-b149-4a57-a3f8-476a8d7b2e83.png)

[2022-10-04 20:18] jnweiger opened #261 "[QA] admin cannot login, when basic_auth_guest_only is true"
Seen while testing openidconnect 2.2.0-rc.6 with core 10.11.0

* Restrict basic auth to guests only: `occ config:system:set openid-connect.basic_auth_guest_only --value true --type boolean`
* Try to log in the admin user with basic auth.
* An error occurs. BAD
![image](https://user-images.githubusercontent.com/1108546/193918151-bd43b4bf-20fe-4192-981b-ab2732c720fc.png)

Expected behaviour:
* admin

[2022-10-04 21:30] jnweiger commented on #256
Confirmed fixed in openidconnect 2.2.0-rc.6

![image](https://user-images.githubusercontent.com/1108546/193934035-d07053d4-6f75-44c9-a79b-d5e0eae6a37a.png)

[2022-10-04 22:58] DeepDiver1975 commented on #261
Works as designed. Only guests 🤷

[2022-10-05 07:16] jnweiger opened #262 "[QA] admin user cannot connect a desktop client"
Seen with openidconnect 2.2.0-rc.6 and desktop client 2.11.1, server 10.11.0

* setup kopano IDP, so that it does not include the admin account.
* admin can login fine through the cassic web UI using username and password
* connect a desktop client using the admin account.
* the client immediately opens a web browser with the IDP login page. Admin cannot enter their password with owncloud. BAD.

N

[2022-10-05 07:46] DeepDiver1975 commented on #262
not an openidconnect issue - more on client side .....

but depends on how #253 continues

[2022-10-05 07:49] d7oc commented on #262
As workaround you could hide the `/.well-known/openid-configuration` from the client when a certain criteria for the admin matches. E.g. an Admin always coming from a certain IP address.

[2022-10-05 07:58] TheOneRing commented on #262
So what are the expectations?
That the client performs basic auth until the accounts are properly setup?
I fail to see the problem?

[2022-10-05 08:04] d7oc commented on #262
Just my 2 cents:

I see two possible solutions here:

1. The server communicates the role to the client so the client can decide based on the role if OIDC is used or not
2. The client has a button to skip a detected OIDC setup and switch back to standard auth.

[2022-10-05 08:10] TheOneRing commented on #262
Why wouldn't you add the user to the idp?

[2022-10-05 08:49] jnweiger commented on #262
Adding the admin account to the IDP certainly makes sense for the normal use case here. E.g. connecting a client.
For administrative tasks, we may want the admin to reach the settings pages of owncloud, even when IDP or LDAP are down.

[2022-10-05 09:35] TheOneRing commented on #262
Then if an admin account must not be on the idp, and is not meant as a user account.
Why should anyone use that account with a client to sync data?

[2022-10-05 09:37] michaelstingl commented on #262
As an alternative, set up a new endpoint for admins to connect (`admin.cloud.example.com`), and there you can announce different login.

[2022-10-05 12:13] jnweiger commented on #262
Android 2.21.2 handles it nicer:
After entering the server URL, there is first a connection check, and then an extra button to click, before the IDP browser opens.
User can enter Settings (at the bottom right) - so we could add 'skip oAUTH, fall back to basic auth' there.

Different admin endpoint sounds like an easy solution from an engineering perspective, but probably hard to document.

[2022-10-05 13:27] jnweiger commented on #262
Expectation is feature parity with the classic web UI. Clients don't allow to choose IDP vs Basic. "proper setup" in the IDP probably never happens for guest users.

[2022-10-05 13:33] michaelstingl commented on #262
No priority today or tomorrow. Can be discussed in one of the next PB1.

[2022-10-05 13:34] DeepDiver1975 commented on #262
moving to desktop

[2022-11-15 05:03] phil-davis commented on #241
Note: PR #222 added a parameter `autoProvisioningService` to the constructor of LoginFlowController

https://github.com/owncloud/openidconnect/blob/master/lib/Controller/LoginFlowController.php#L84

That class is used/extended in https://github.com/owncloud/msteamsbridge and so the code in that app needed a matching change. See issue https://github.com/owncloud/msteamsbridge/issues/37 which is fix

[2022-11-18 09:41] DeepDiver1975 commented on #261
I suggest to revert https://github.com/owncloud/openidconnect/pull/253 and get this release rolling.

We have customers waiting for other features of this release.

@jvillafanez @hodyroff @jnweiger objections

[2022-11-18 10:07] jvillafanez commented on #261
https://github.com/owncloud/openidconnect/pull/265 would fix this, but we need to decide what to do with the feature as a whole

[2022-11-18 10:31] DeepDiver1975 commented on #261
Absolutly

- blocking/allowing guest login is not the responsibility of the openid connect app from my pov
- adding yet another config switch #265 might be a bit overkill - only one customer is requesting this feature
- lack of decision making is blocking other customers

[2022-11-18 10:38] DeepDiver1975 commented on #261
revert pr created ...... so that we are prepares once the decision is there ..... https://github.com/owncloud/openidconnect/pull/268

[2022-11-18 10:43] T0mWz opened #269 "Password Policy App and OIDC login"
When you have the Password Policy App enabled for local accounts and try to log in via OIDC, you will hit this password policy.

### Steps to reproduce
1. Enable Password Policy app
2. Set Minimum password requirements
3. Try to login via OIDC

### Expected behaviour
I think you guess what I should expect 😉

### Actual behaviour
[code]

**Config**
ownCloud 10.9.1
openidconnect: 2.1.0
password_poli

[2022-11-18 10:43] T0mWz opened #270 "Password Policy App and OIDC login"
When you have the Password Policy App enabled for local accounts and try to log in via OIDC, you will hit this password policy.

### Steps to reproduce
1. Enable Password Policy app
2. Set Minimum password requirements
3. Try to login via OIDC

### Expected behaviour
I think you can guess what I should expect 😉

### Actual behaviour
[code]

**Config**
ownCloud 10.9.1
openidconnect: 2.1.0
password_

[2022-11-18 11:01] DeepDiver1975 commented on #270
for password creation this code needs to be used:
https://github.com/owncloud/guests/blob/84ea22147750b73cd957b2ff013356d4e62fec3a/lib/Controller/UsersController.php#L175-L181

[2022-11-18 11:32] T0mWz commented on #270
Um, sorry I mis your point? My user is logged in via an OIDC provider. There isn't a local user account here, configured with a password.
The Password Policy should not hook in here, like with Shibboleth or an LDAP integration.

[2022-11-18 11:37] DeepDiver1975 commented on #270
When creating a new user in owncloud using the openid connect auto provisioning feature a valid password has to be set.
Password policy app can help to create a valid password as we do with guests ....

[2022-11-18 11:50] T0mWz commented on #270
How is a valid password set? I have quite the same config as described here; https://github.com/owncloud/openidconnect#setup-auto-provisioning-mode

I can create an user by forehand, with the correct backend and a valid password, but then it isn't auto provisioning anymore.

See also not an option in the Password Policy App, next of the password requirements.

Can extend the app that it will gener

[2022-11-18 12:29] DeepDiver1975 commented on #270
This is something we developers need to change in the opening connect app.

[2022-11-23 20:06] T0mWz commented on #270
Maybe this helps too regarding this issue; https://github.com/owncloud/core/pull/40512

[2022-11-24 09:41] jnweiger commented on #261
I agree with the revert and move everything to work with groups. #265 could carry guests and admin group to fix my case.
The naming of the key in #265 is weird then and should be simplified.